.footer {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  padding: 52px 13.54%;
  min-height: 197px;
  background-color: #000;
}

.footer__social {
  display: flex;
  column-gap: 5px;
}

.footer__social-block {
  padding: 10px 0 0 0;
  margin: 0 20px 0 139px;
}
