.header-block {
  padding: 33px 0 19px 0;
  background-image: url("../../assets/img/header/header-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom center;
}

.header__line {
  width: 100%;
  height: 2px;
  margin: 0 13.54% 0 13.54%;
}

.header {
  display: flex;
  column-gap: 10px;
  margin: 0 13.5% 0 13.5%;
}

.header__block {
  padding: 21px 0 0 0;
}

.header__block-nav {
  display: flex;
  column-gap: 50px;
  padding: 54.8px 10px 0 15.3%;
}

.header__space {
  padding: 21px 3.32% 0 4.2%;
}

.header__space2 {
  padding: 21px 25px 0 31px;
}

.header__space3 {
  position: relative;
  top: -5px;
  padding: 21px 0 0 20px;
}

.header-spacing {
  letter-spacing: 1.4px;
}

.header-spacing2 {
  letter-spacing: -0.1px;
}
