.navigation {
  display: flex;
  column-gap: 49px;
}

.navigation__list {
  cursor: pointer;
}

.navigation__arrow {
  margin-left: 6px;
  display: inline-block;
  width: 6px;
  height: 3px;
  background-image: url("../../assets/img/icons/arrows/nav-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__submenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-13%) translateY(100%);
  background-color: #fff;
  padding: 3px 26px;
}

.navigation__submenu-link {
  text-wrap: nowrap;
  display: block;
}

.navigation-show__submenu {
  position: relative;
}

.navigation-show__submenu:hover .navigation__submenu {
  display: block;
}

.navigation_mobile{
  display: none;
}

.navigation__mobile-social-links{
  display: none;
  column-gap: 14px;
}

@media screen and (max-width: 780px) {
  .navigation_mobile{
  display: block;
}
.navigation {
  display: block;
}
.navigation li{
  margin-bottom: 28px;
}

.navigation p{
 color: #fff;
 margin-bottom: 10px;
 font-size: 2rem;
 font-weight: 700;
}
.navigation a{
 color: #fff;
 font-size: 2rem;
 font-weight: 700;
}

.navigation__mobile-social-links{
  display: flex;
  padding: 30px 0;
}

.navigation__submenu {
  position: static;
  display: block;
  transform: translateX(0) translateY(0);
  background-color: #B09F74;
}
.navigation-mobile__text-block{
  padding: 30px 0 80px 0;
}
}
