.navigation {
  display: flex;
  column-gap: 50px;
}

.navigation__list {
  cursor: pointer;
}

.navigation__arrow {
  margin-left: 6px;
  display: inline-block;
  width: 6px;
  height: 3px;
  background-image: url("../../assets/img/icons/arrows/nav-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__submenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-13%) translateY(100%);
  background-color: #fff;
  padding: 3px 26px;
}

.navigation__submenu-link {
  text-wrap: nowrap;
  display: block;
}

.navigation-show__submenu {
  position: relative;
}

.navigation-show__submenu:hover .navigation__submenu {
  display: block;
}
