.about-company__title {
  display: flex;
  justify-content: center;
}

.about-company__text-block{
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  padding: 63px 0 45px 0;
}

.about-company__text {
  display: flex;
  justify-content: center;
}

.about-company__button {
  display: flex;
  justify-content: center;
}
