.advantages{
    padding: 76px 13.5% 0 13.5%;
}

.advantages h2{
    text-align: center;
}

.advantages-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px 50px;
    padding: 25px 0 0 0;
}

.advantages-inner__item h3{
    margin: 14px 0 12px 0;
}

.advantages-inner__item-icon-inner{
    min-height: 28px;
    display: flex;
    align-items: end;
}

@media screen and (max-width: 1660px) {
    .advantages{
    padding: 76px 3.5% 0 3.5%;
}

}

@media screen and (max-width: 1240px) {
    .advantages{
    padding: 76px 12px 0 12px;
}

.advantages-inner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 17px 22px;
}

}

@media screen and (max-width: 780px) {
    .advantages-inner{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 17px 22px;
}

.advantages-inner__item h3{
    text-align: center;
}

.advantages-inner__item-icon-inner{
  justify-content: center;
}

}