.bid-form{
    padding: 10px 13.5% 98px 13.5%;
    background-color: #FBFBF9;
}

.bid-form h2{
    text-align: center;
    margin-bottom: 32px;
}

.bid-form__text{
    max-width: 996px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.bid-form__text_word{
    display: block;
}

.bid-form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 29px;
}

.bid-form__input::placeholder{
    color: #000;
}

.bid-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span{
   position: relative;
   top: 4px;
   display: inline-block;
   border-radius: 50%;
   width: 18px;
   height: 18px;
   margin-right: 8px;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span-active{
    position: relative;
}

.bid-form__input_radio-span-active::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B09F74;
}

.bid-form__radio-title{
    margin-bottom: 15px;
}

.bid-form__radio-text{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
}

.bid-form__textarea{
  display: inline-block;
  min-width: 400px;
  resize: none;
  max-height: 40px;
  border: 1px solid #eddbae;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
}

.bid-form__textarea::placeholder{
    color: #000;
}

.bid-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.bid-form__form{
    display: flex;
    gap: 10px 62px;
    justify-content: center;
    margin: 58px 0 0 0;
}

.bid-form__disclaimer{
    margin: 20px 0 35px 0;
}

.bid-form__block{
    padding: 70px 0 0 0;
}

.bid-form__connect{
    margin: 14px 0 22px 0;
}

@media screen and (max-width: 1660px) {
    .bid-form{
    padding: 10px 3.5% 98px 3.5%;
}

}

@media screen and (max-width: 1200px) {
    .bid-form{
    padding: 10px 12px 98px 12px;
}

.bid-form__form{
    gap: 10px 9px;
}

}

@media screen and (max-width: 1060px) {
.bid-form__form{
    flex-direction: column;
    gap: 30px 9px;
    align-items: center;
}

.bid-form__block{
    padding: 0 0 0 0;
}

.bid-form__button{
    display: block;
    margin: 0 auto;
}

.bid-form__input {
  display:  block;
  min-width: 200px;
  margin: 0 auto 20px auto;
 
}

.bid-form__textarea{
  display: block;
  max-width: 390px;
  min-width: 10px;
  min-height: 114px;
  max-height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}

}

@media screen and (max-width: 600px) {
    .bid-form {
        padding: 41px 12px 64px 12px;
    }

     .bid-form__form-block{
        margin-bottom: 20px;
     }

    .bid-form__text{
        display: none;
    }

    .bid-form h2{
        margin-bottom: 28px;
    }

    .bid-form__form{
        display: block;
        margin: 22px 0 0 0;
        padding: 0 12px;
    }

    .bid-form__input{
        min-width: auto;
        max-width: 390px;
        width: 100%;
        margin: 0 auto 31px auto;
    }

    .bid-form__disclaimer{
        margin: 28px 0 44px 0;
    }
    .bid-form__disclaimer_space{
        display: none;
    }

    .bid-form__textarea{
  display: block;
  width: 100%;
}
}

@media screen and (max-width: 400px) {

 .bid-form__disclaimer{
        text-align: center;
    }
}
        