.bid-form{
    padding: 10px 13.5% 10px 13.5%;
    background-color: #FBFBF9;
}

.bid-form h2{
    text-align: center;
    margin-bottom: 15px;
}

.bid-form__text{
    max-width: 996px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.bid-form__text_word{
    display: block;
}

.bid-form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 29px;
}

.bid-form__input::placeholder{
    color: #000;
}

.bid-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span{
   position: relative;
   top: 4px;
   display: inline-block;
   border-radius: 50%;
   width: 18px;
   height: 18px;
   margin-right: 8px;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span-active{
    position: relative;
}

.bid-form__input_radio-span-active::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B09F74;
}

.bid-form__radio-title{
    margin-bottom: 15px;
}

.bid-form__radio-text{
    cursor: pointer;
    margin-bottom: 15px;
}

.bid-form__form{
    display: flex;
    gap: 10px 10px;
    justify-content: space-between;
}