.button {
  min-width: 203px;
  padding: 13px 44px;
  border-radius: 30px;
  background-color: #000;
  cursor: pointer;
}

.button__dowload-icon{
background-image: url("../../assets/img/icons/dowload/download.svg");
background-position: right 25px center;
background-repeat: no-repeat;
}

.button__letter-space {
  letter-spacing: 1px;
}

.button__letter-space2 {
  letter-spacing: 1.3px;
}

.button_colored-1 {
  background-color: #ff8e8e;
}

.button_colored-2 {
  background-color: #b09f74;
}

.button_colored-3 {
  background-color: #423329;
  border: 2px solid #EDDBAE;
}

.button_colored-4 {
  background-color: #C76A6A;
  border: 2px solid #EDDBAE;
}

.button_colored-5 {
  background-color: #292E42;
  border: 2px solid #EDDBAE;
}

.button_colored-6{
 background-color: #3B4249;
 border: 2px solid #EDDBAE;
}

.button_colored-7{
 background-color: #698155;
 border: 2px solid #EDDBAE;
}

.button_colored-8{
 background-color: #557A81;
 border: 2px solid #EDDBAE;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: url("../../assets/img/buttons/button-order.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-order_colored {
  background-image: url("../../assets/img/buttons/button-order_colored.svg");
}

.button-order_colored-mobile {
  background-image: url("../../assets/img/mobile/buttons/order-button_colored-mobile.svg");
}