.button {
  min-width: 203px;
  padding: 13px 44px;
  border-radius: 30px;
  background-color: #000;
  cursor: pointer;
}

.button__letter-space {
  letter-spacing: 1px;
}

.button_colored-1 {
  background-color: #ff8e8e;
}

.button_colored-2 {
  background-color: #b09f74;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: url("../../assets/img/buttons/button-order.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-order_colored {
  background-image: url("../../assets/img/buttons/button-order_colored.svg");
}

.button-order_colored-mobile {
  background-image: url("../../assets/img/mobile/buttons/order-button_colored-mobile.svg");
}