.cooperation{
    padding: 0 13.5% 84px 13.5%;
}

.cooperation h2{
    text-align: center;
    margin-bottom: 36px;
}

.cooperation__list{
    column-count: 2;
    column-gap: 50px;
}

.cooperation__list li::marker{
    color: #B09F74;
}