.food-and-cost {
  padding: 0 12px;
}

.food-and-cost h2 {
  text-align: center;
  margin-bottom: 35px;
}
.food-and-cost__slider {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-and-cost-slider__popup-block-content {
  overflow-x: hidden;
}

.food-and-cost-slider__popup-content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-and-cost-goods {
  display: flex;
  gap: 45px;
  transform: translateX(0);
}

.food-and-cost-slider__popup-content {
  display: flex;
  gap: 0px;
  align-items: center;
  transform: translateX(0);
}

.food-and-cost-goods__slider-transition {
  transition: transform 0.4s ease;
}

.food-and-cost-goods__item_pointer {
  cursor: pointer;
}

.food-and-cost-goods__item_popup {
  flex-shrink: 0;
  width: 100%;
}
.food-and-cost-goods__item-img {
  border-radius: 18px;
}

.food-and-cost__item-title {
  padding: 22px 0 8px 0;
}

.food-and-cost__item-price {
  padding: 10px 0 8px 0;
}

.food-and-cost__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}

.food-and-cost__slider-arrow-inner {
  cursor: pointer;
}

.food-and-cost__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.food-and-cost-slider__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 35px 10px;
  z-index: 15;
}

.food-and-cost-slider__popup_opened {
  display: block;
}

.food-and-cost-popup__close-inner {
  display: flex;
  justify-content: end;
}

.food-and-cost-popup__close-img {
  cursor: pointer;
}

.food-and-cost__popup-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 10px;
}

.food-and-cost__popup-slider-arrow-right,
.food-and-cost__popup-slider-arrow-left {
  cursor: pointer;
}
.food-and-cost-goods__item-img_popup {
  width: 26.5%;
  margin: 0 auto;
}
.food-and-cost__popup-slider-item-title {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  padding: 13px 0;
  font-family: "Raleway", sans-serif;
  color: #000;
}
.food-and-cost__popup-slider-item-count {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}
.food-and-cost__popup-slider-item-price {
  text-align: center;
  font-size: 2.7rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  padding: 12px 0;
}

/* .food-and-cost__slider {
  display: flex;
  gap: 45px;
  max-width: 1500px;
  justify-content: center;
  overflow-x: hidden;
  margin: 0 auto;
}

.food-and-cost__slider-conrols {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  margin: 28px 0 0 0;
}

.food-and-cost__slider-arrow-inner {
  cursor: pointer;
}

.food-and-cost__item-title {
  margin: 26px 0 10px 0;
}

.food-and-cost__item-cost-text {
  margin: 5px 0 0 0;
} */

@media screen and (max-width: 780px) {
  /* .food-and-cost__slider{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: auto auto;
    justify-content: start;
    gap: 42px 15px;
}

.food-and-cost__slider-item-1{
    order: 1;
}

.food-and-cost__slider-item-2{
    order: 2;
}

.food-and-cost__slider-item-3{
    order: 4;
}

.food-and-cost__slider-item-4{
    order: 5;
}

.food-and-cost__slider-item-5{
    order: 3;
}

.food-and-cost h2{
    margin-bottom: 25px;
} */
}
@media screen and (max-width: 1400px) {
  .food-and-cost-goods {
    gap: 36px 15px;
  }
}

@media screen and (max-width: 860px) {
  .food-and-cost__popup-slider-item-title {
    font-size: 2.5rem;
  }
  .food-and-cost-goods__item-img_popup {
    width: auto;
  }
}
