.food-example {
  padding: 46px 13% 57px 13%;
}
.food-example__title {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.food-example-tabs {
  display: flex;
  justify-content: center;
  column-gap: 53px;
  padding: 25px 0 30px 0;
}

.food-example__tab{
  cursor: pointer;
  padding-bottom: 9px;
  border-bottom: 1px solid transparent;
}

.food-example__tab:hover{
  border-bottom: 1px solid #698155;
}

.food-example-goods {
  display: flex;
  justify-content: center;
  column-gap: 45px;
}

.food-example__button {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.food-example__item-title {
  padding: 22px 0 8px 0;
}

.food-example__item-price {
  padding: 10px 0 8px 0;
}

@media screen and (max-width: 1660px) {
  .food-example {
    padding: 46px 3% 106px 3%;
}
}

@media screen and (max-width: 1400px) {
  .food-example {
    padding: 46px 1% 60px 1%;
}

.food-example-goods {
  column-gap: 10px;
}

}

