.food-example {
  padding: 46px 12px 57px 12px;
}
.food-example__title {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.food-example-tabs {
  display: flex;
  justify-content: center;
  gap: 53px;
  padding: 25px 0 30px 0;
  flex-wrap: wrap;
}

.food-example__tab {
  cursor: pointer;
  padding-bottom: 9px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.food-example__tab_active {
  border-bottom: 1px solid #698155;
}
.food-example__slider {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-example-slider__popup-content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-example-goods {
  display: flex;
  gap: 45px;
  transform: translateX(0);
}

.food-example-slider__popup-content {
  display: flex;
  gap: 45px;
  transform: translateX(0);
}

.food-example-goods__slider {
  transition: transform 0.4s ease;
}

.food-example-goods__item {
  cursor: pointer;
  flex-shrink: 0;
}
.food-example-goods__item-img {
  border-radius: 18px;
}

.food-example__button {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.food-example__item-title {
  padding: 22px 0 8px 0;
}

.food-example__item-price {
  padding: 10px 0 8px 0;
}

.food-example__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}

.food-example__slider-arrow-inner {
  cursor: pointer;
}

.food-example__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.food-example-slider__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  top: 0;
  left: 0;
  background-color: #696c7a;
  padding: 35px 10px;
  z-index: 15;
}

.food-example-slider__popup_opened {
  display: block;
}
.food-example-popup__close-inner {
  display: flex;
  justify-content: end;
}

.food-example-popup__close-img {
  cursor: pointer;
}

.food-example-slider__popup-arrows {
  display: flex;
  align-items: center;
  gap: 1em;
}

@media screen and (max-width: 1660px) {
  .food-example {
    padding: 46px 3% 106px 3%;
  }
}

@media screen and (max-width: 1400px) {
  .food-example {
    padding: 46px 1% 60px 1%;
  }

  .food-example-goods {
    gap: 36px 15px;
  }
}

@media screen and (max-width: 1220px) {
  .food-example-tabs {
    gap: 15px;
  }

  .food-example__tab {
    padding: 7px 10px 9px 10px;
    border-radius: 5px;
  }

  .food-example__tab_active {
    background-color: #dfdfdf;
    border-bottom: 1px solid transparent;
  }

  .food-example {
    padding: 20px 12px 46px 12px;
  }
}

@media screen and (max-width: 860px) {
  .food-example-tabs {
    display: grid;
    grid-template:
      "a b b "
      "c d e ";
    gap: 15px 46px;
    padding: 15px 0 21px 0;
  }

  .food-example__tab1 {
    grid-area: a;
  }

  .food-example__tab2 {
    grid-area: b;
  }

  .food-example__tab3 {
    grid-area: c;
  }

  .food-example__tab4 {
    grid-area: d;
  }

  .food-example__tab5 {
    grid-area: e;
  }

  .food-example-goods__item {
    margin-right: 0;
  }
}

@media screen and (max-width: 443px) {
  .food-example-tabs {
    gap: 15px 36px;
  }

  .food-example__tab {
    padding: 7px 5px 9px 5px;
  }
}

@media screen and (max-width: 400px) {
  .food-example-tabs {
    gap: 15px;
  }
}
