.main-info__text-block {
  width: 48%;
}
.main-info {
  display: flex;
  column-gap: 15px;
  padding: 90px 0 34px 0;
  margin: 20px 13.45% 0 13.45%;
  background-image: url("../../assets/img/slider/main-slider-1.jpg");
  background-position: top right;
  background-repeat: no-repeat;
  min-height: 650px;
}

.main-info__text {
  margin-left: auto;
  letter-spacing: 5px;
}

.main__title_special {
  display: block;
}

.main-info__button {
  margin-top: auto;
}

.main-info-slider {
  margin-top: auto;
  margin-left: auto;
}

.main-info-slider__arrows {
  display: flex;
  column-gap: 10px;
}

.main-info-slider__arrow {
  cursor: pointer;
}
