.main-info__text-block {
  padding: 70px 0 0 0;
  width: 48%;
}

.main-info {
  padding: 37px 0 8px 0;
  margin: 0 13.45% 0 13.45%;
  min-height: 650px;
}

.main-info__block-control{
  position: relative;
  top: -84px;
  display: flex;
  justify-content: right;
  column-gap: 34%;
}

.main-info__block-content{
  padding: 10px 0 0 0;
  display: flex;
  column-gap: 20px;
}

.main-info__text {
  margin-left: auto;
  letter-spacing: 5px;
}

.main__title_special {
  display: block;
}

.main-info__button-inner {
  margin-top: auto;
}

.main-info__button{
  margin-bottom: 6px;
}

.main-info-slider {
  margin-top: auto;
  margin-bottom: 13px;
}

.main-info-slider__arrows {
  display: flex;
  column-gap: 17px;
}

.main-info-slider__arrow {
  cursor: pointer;
}

@media screen and (max-width: 1660px) {
  .main-info {
    padding: 84px 0 34px 0;
    margin: 0 3.45% 0 3.45%;
}
}

@media screen and (max-width: 1400px) {
  .main-info {
    padding: 44px 0 34px 0;
    margin: 0 1.45% 0 1.45%;
}
  .main-info__text {
    padding-right: 20%;
}

.main-info__text-block {
  padding: 40px 0 0 0;
}

}

@media screen and (max-width: 1200px) {

.main-info__block-control{
  column-gap: 19%;
}

.main-info__text-block {
  padding: 30px 0 0 0;
}
}

@media screen and (max-width: 780px) {
.main-info {
position: relative;
padding: 40px 0 24px 0;
}

.main-info__block-control{
 position: absolute;
 left: 50%;
 bottom: 0;
 transform: translate(-52%, 2%);
}

.main-info__block-content{
  flex-direction: column;
  padding: 0;
}

 .main-info__text {
    padding-right: 0;
}

  .main-info {
    padding: 30px 12px 34px 12px;
    margin: 0;
    min-height: 580px;
}

.main-info__text-block {
  padding: 0;
  width: 100%;
}

.main-info__text-block h1{
  padding: 0 0 0 25px;
}

.main-info-slider{
  display: none;
}

.main-info__img-inner{
  display: flex;
  justify-content: center;
}

.main-info__text {
  letter-spacing: 7px;
}

.main-info__button{
  margin-bottom: 0;
}


}

@media screen and (max-width: 380px) {
   .main-info__text {
    letter-spacing: 2px;
}
.main-info__img{
  width: 96%;
  margin: 0 auto;
}

}

