.order-block {
  padding: 59px 10px 70px 10px;
}

.order-block_2 {
  padding: 10px 10px 0 10px;
}

.order-block_padding {
  padding: 59px 10px 10px 10px;
}

.order-block__title {
  display: flex;
  justify-content: center;
}

.order-block__form{
  padding: 54px 0 0 0;
}

.form__fields {
  display: flex;
  justify-content: center;
  gap: 15px 34px;
  flex-wrap: wrap;
}

.form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.form__input::placeholder{
  color: #000;
}

.form__textarea{
  display: inline-block;
  min-width: 400px;
  resize: none;
  max-height: 40px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.form__textarea::placeholder{
  color: #000;
}

.form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.form__disclaimer {
  max-width: 472px;
  text-align: center;
  margin: 0 auto;
  padding: 42px 0 52px 0;
}

.order__subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 10px 0;
}


@media screen and (max-width: 1400px) {
  .order-block {
  padding: 60px 10px 30px 10px;
}
}

@media screen and (max-width: 1200px) {
  .order-block {
  padding: 40px 10px 45px 10px;
}

.order-block__form{
  padding: 32px 0 0 0;
}
}

@media screen and (max-width: 920px) {
  .form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 34px;
}

.form__textarea{
  min-width: 400px;
  resize: none;
  min-height: 114px;
}

.form__input {
  width: 390px;
}

.order__subtext {
  display: block;
  padding: 20px 10px 10px 10px;
  text-align: right;
}

.order__subtext-title{
  display: block;
  text-align: center;
  font-size: 5rem;
}

.order__subtext-title2{
  display: block;
}

.form__disclaimer {
  padding: 29px 0 25px 0;
  max-width: 389px;
}

}

@media screen and (max-width: 780px) {
  .order-block_padding {
  padding: 59px 10px 66px 10px;
}
}

@media screen and (max-width: 420px) {
  .form__input {
  width: 220px;
}

.form__textarea{
  min-width: 300px;
}

}

@media screen and (max-width: 320px) {
  .form__input {
  width: 100%;
}

.form__textarea{
  min-width: 100%;
}
}