.page-info{
    text-align: right;
    padding: 18px 0 25px 0;
    margin:  0 13.5% 0 13.5%;
}

@media screen and (max-width: 1660px) {
.page-info{
    margin:  0 3.5% 0 3.5%;
}
}

@media screen and (max-width: 1400px) {
.page-info{
    margin:  0 12px 0 12px;
}
}

@media screen and (max-width: 780px) {

    .page-info{
        display: none;
    }
}