.portfolio {
  padding: 100px 0 10px 0;
}

.porfolio__title {
  display: flex;
  justify-content: center;
  padding: 0 13%;
}

.porfolio__tabs {
  padding: 32px 0 38px 0;
  display: flex;
  justify-content: center;
  column-gap: 32px;
  padding: 36px 13% 36px 13%;
}

.porfolio__tab {
  cursor: pointer;
  background-color: transparent;
}

.porfolio__examples {
  display: flex;
  gap: 1px;
  max-width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none;
}
.porfolio__examples ::-webkit-scrollbar {
  display: none;
}

.porfolio-examples__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}
.porfolio__examples-item-1 {
  width: 456px;
  height: 359px;
}

.porfolio__examples-item-2 {
  width: 456px;
  height: 274px;
}
.porfolio__examples-item-3 {
  width: 298px;
  height: 217px;
}
.porfolio__examples-item-4 {
  width: 241px;
  height: 217px;
}
.porfolio__examples-item-5 {
  width: 540px;
  height: 416px;
}
.porfolio__examples-item-6 {
  width: 536px;
  height: 634px;
}
.porfolio__examples-item-7 {
  width: 312px;
  height: 230px;
}
.porfolio__examples-item-8 {
  width: 72px;
  height: 230px;
}
.porfolio__examples-item-9 {
  width: 385px;
  height: 402px;
}
.porfolio__examples-item-img {
  width: 100%;
  height: 100%;
}
.porfolio-examples__slider-arrow-inner {
  cursor: pointer;
}

.porfolio__examples-subitem {
  display: flex;
  gap: 1px;
}

.porfolio__examples-item_up {
  margin-top: 1px;
}

.porfolio__examples-slider__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 35px 10px;
  z-index: 15;
}

.porfolio__examples-slider__popup_opened {
  display: block;
}

.porfolio__examples-popup__close-inner {
  display: flex;
  justify-content: end;
}

.porfolio__examples-popup__close-img {
  cursor: pointer;
}

.porfolio__examples__popup-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 10px;
}

.porfolio__examples-slider__popup-block-content {
  width: 100%;
  overflow-x: hidden;
}

.porfolio__examples-slider__popup-content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.porfolio__examples-slider__popup-content {
  display: flex;
  align-items: center;
  gap: 0;
  transform: translateX(0);
}

.porfolio__examples__slider {
  transition: transform 0.4s ease;
}

.porfolio__examples__item_popup {
  flex-shrink: 0;
  width: 100%;
}

.porfolio__examples__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.porfolio__examples__popup-slider-arrow-right,
.porfolio__examples__popup-slider-arrow-left {
  cursor: pointer;
}
.porfolio__examples__item-img_popup {
  width: 26.5%;
  height: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1660px) {
  .porfolio__title {
    padding: 0 3%;
  }
  .porfolio__tabs {
    padding: 36px 3% 36px 3%;
  }
}

@media screen and (max-width: 860px) {
  .porfolio__examples-item-1 {
    width: 400px;
    height: 270px;
  }

  .porfolio__examples-item-2 {
    width: 400px;
    height: 200px;
  }
  .porfolio__examples-item-3 {
    width: 220px;
    height: 140px;
  }
  .porfolio__examples-item-4 {
    width: 180px;
    height: 140px;
  }
  .porfolio__examples-item-5 {
    width: 400px;
    height: 330px;
  }
  .porfolio__examples-item-6 {
    width: 500px;
    height: 470px;
  }
  .porfolio__examples-item-7 {
    width: 250px;
    height: 150px;
  }
  .porfolio__examples-item-8 {
    width: 45px;
    height: 150px;
  }
  .porfolio__examples-item-9 {
    width: 295px;
    height: 320px;
  }

  .portfolio {
    padding: 50px 0 10px 0;
  }
  .porfolio__examples__item-img_popup {
    width: 85%;
    /* height: 240px; */
  }
}

@media screen and (max-width: 500px) {
  .porfolio__tabs {
    padding: 20px 6px 19px 6px;
    column-gap: 26px;
  }
}

@media screen and (max-width: 400px) {
  .porfolio__tabs {
    column-gap: 10px;
  }
}
