.ready-made-solutions h2{
    text-align: center;
    padding: 0 12px;
}

.ready-made-solutions__tabs-inner{
    display: flex;
    justify-content: center;
    gap: 10px 30px;
    padding: 0 12px;
    margin: 12px 0 20px 0;
}

.ready-made-solutions__tabs-button{
    background-color: transparent;
    padding: 0 0 8px 0;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.ready-made-solutions__tabs-button_active{
    border-bottom: 1px solid #423329;
}

.ready-made-solutions__content{
    display: flex;
    gap: 10px 45px;
    padding: 40px 13.5% 0 13.5%;
    background: #423329;
    background: linear-gradient(180deg, #423329 52%, #fff 52%);
}

.ready-made-solutions__img-inner img{
    border-radius: 33px;
}

.ready-made-solutions__text-title-block{
    display: flex;
    gap: 10px 85px;
}

.ready-made-solutions__buttons-inner button{
    margin-bottom: 22px;
}

.ready-made-solutions__text-title-content{
    max-width: 369px;
}

.ready-made-solutions__text-inner{
    padding: 15px 0 0 0;
}

.ready-made-solutions__services-title-block{
    display: flex;
    gap: 10px 10px;
}

.ready-made-solutions__services-personal{
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.ready-made-solutions__services{
    display: flex;
    gap: 10px 82px;
    padding: 20px 0 0 0;
}

.ready-made-solutions__services-title-block_1{
    max-width: 260px;
    width: 100%;
}

.ready-made-solutions__services-title-block_2{
    flex-grow: 1;
}

.ready-made-solutions__services-title{
    padding: 8px 0 0 0;
    width: 100%;
}

.ready-made-solutions__services-title h4{
    padding: 0 0 20px 0;
}

.ready-made-solutions__text-subtitle{
    margin: 50px 0 20px 0;
}

.ready-made-solutions__text{
    min-height: 110px;
    padding: 0 0 10px 0;
}

