.ready-made-solutions h2{
    text-align: center;
    padding: 0 12px;
}

.ready-made-solutions__tabs-inner{
    display: flex;
    justify-content: center;
    gap: 10px 35px;
    padding: 0 5px 0 35px;
    margin: 6px 0 20px 0;
}

.ready-made-solutions__tabs-button{
    background-color: transparent;
    padding: 0 0 8px 0;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.ready-made-solutions__tabs-button_active{
    border-bottom: 1px solid #423329;
}

.ready-made-solutions__content{
    display: flex;
    gap: 10px 45px;
    padding: 45px 13.5% 0 13.5%;
}

.ready-made-solutions__content_service-keitering{
    background: #423329;
    background: linear-gradient(180deg, #423329 58%, #fff 58%);
}

.ready-made-solutions__content_child-keitering{
     background: #C76A6A;
    background: linear-gradient(180deg, #C76A6A 61%, #fff 61%);
}

.ready-made-solutions__content_coffee-break{
    background: #423329;
    background: linear-gradient(180deg, #423329 61%, #fff 61%);
}


.ready-made-solutions__img-inner img{
    border-radius: 33px;
}

.ready-made-solutions__buttons-inner button{
    margin-bottom: 18px;
}

.ready-made-solutions__buttons-inner{
    grid-area: ready-made-solutions__buttons-inner ;
} 


.ready-made-solutions__text-inner{
    padding: 15px 0 0 0;
}

.ready-made-solutions__services-title-block{
    display: flex;
    gap: 10px 10px;
}

.ready-made-solutions__services-personal{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ready-made-solutions__services{
    display: flex;
    gap: 10px 76px;
    padding: 35px 0 10px 0;
}
.ready-made-solutions__services_padding{
    padding: 20px 0 10px 48px;
}

.ready-made-solutions__services_padding2{
     padding: 20px 0 10px 0;
}

.ready-made-solutions__services-title-block_1{
    max-width: 260px;
    width: 100%;
}

.ready-made-solutions__services-title-block_2-blocks{
   margin-bottom: 28px;
} 

.ready-made-solutions__services-title{
    padding: 8px 0 0 0;
    width: 100%;
}

.ready-made-solutions__services-title h4{
    padding: 0 0 24px 0;
}

.ready-made-solutions__text-subtitle{
    margin: 0 0 20px 0;
}

.ready-made-solutions__text{
    min-height: 110px;
    padding: 0 0 10px 0;
}

.ready-made-solutions__text-description{
    max-width: 86%;
}

.ready-made-solutions__text-description2{
grid-area: ready-made-solutions__text-description2;
max-width: 75%;
}

.ready-made-solutions__text-title-content{
    grid-area: ready-made-solutions__text-title-content2;
}

.ready-made-solutions__text-title-block{
    display: grid;
    gap: 8px 18px;
    grid-template-areas: "ready-made-solutions__text-title-content2 ready-made-solutions__buttons-inner"
    "ready-made-solutions__text-description2 ready-made-solutions__text-description2";
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: 40px;
}

.ready-made-solutions__text-title-block_service{
    display: grid;
    gap: 8px 18px;
    grid-template-areas: "ready-made-solutions__text-title-content2 ready-made-solutions__buttons-inner"
    "ready-made-solutions__text-description2 ready-made-solutions__text-description";
    grid-template-rows: auto;
    margin-left: 40px;
    grid-template-columns: 432px auto;
}

.ready-made-solutions-mobile{
    display: none;
}

.ready-made-solutions-mobile_grid{
    display: none;
}

@media screen and (max-width: 1660px) {
.ready-made-solutions__content{
    padding: 45px 3.5% 0 3.5%;
}

}

@media screen and (max-width: 1400px) {
.ready-made-solutions__content{
    padding: 51px 12px 0 12px;
}
.ready-made-solutions__content{
    gap: 10px 20px;
}
.ready-made-solutions__content{
    gap: 10px 55px;
}
.ready-made-solutions__content{
    gap: 10px 40px;
}
}

@media screen and (max-width: 1000px) {
    .ready-made-solutions__content_child-keitering{
    background: linear-gradient(180deg, #C76A6A 57%, #fff 57%);
}

.ready-made-solutions__text-title-block_service{
    grid-template-columns: auto auto;
    margin: 0;
}

}

@media screen and (max-width: 860px) {
    .ready-made-solutions__content{
    display: block;
}

.ready-made-solutions__text-title-block {
    gap: 8px 18px;
    grid-template-areas: "ready-made-solutions__text-title-content2"
    "ready-made-solutions__text-description2"
    "ready-made-solutions__buttons-inner";
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: 0;
    justify-content: center;
    text-align: center;
}

.ready-made-solutions__text-title-block_service{
    gap: 8px 18px;
    grid-template-areas: "ready-made-solutions__text-title-content2"
    "ready-made-solutions__text-description2" "ready-made-solutions__buttons-inner";
    grid-template-rows: auto;
    grid-template-columns: auto;
    justify-content: center;
    text-align: center;
}

.ready-made-solutions__content_service-keitering{
    background: linear-gradient(180deg, #423329 62%, #fff 62%);
}

.ready-made-solutions__content_child-keitering{
    background: linear-gradient(180deg, #C76A6A 62%, #fff 62%);
}

.ready-made-solutions__text-description {
    margin: 0 auto;
}

.ready-made-solutions__text-description2 {
    margin: 0 auto;
    max-width: 100%;
}

.ready-made-solutions__text-subtitle{
    text-align: center;
    margin: 31px 0 20px 0;
}

.ready-made-solutions__text-title{
    text-align: center;
}

.ready-made-solutions__text-inner
 {
    padding: 51px 0 0 0;
    display: flex;
    flex-direction: column;
}

.ready-made-solutions__text{
    min-height: auto;
    max-width: 91%;
    margin: 0 auto;
    text-align: center;
    padding: 0 0 18px 0;
}

.ready-made-solutions__text_service{
    max-width: 100%;
}

.ready-made-solutions__services{
    flex-direction: column;
    align-items: center;
     padding: 49px 0 10px 16px;
}

.ready-made-solutions__img-inner{
    display: flex;
    justify-content: center;
}

.ready-made-solutions__tabs-inner{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    padding: 0 19px;
    margin: 26px 0 13px 0;
    gap: 20px 37px;
}

.ready-made-solutions__tabs-button{
    background-color: transparent;
    border-bottom: none;
}

.ready-made-solutions__tabs-button_active{
    border-bottom: none;
    background-color: #DFDFDF;
    border-radius: 5px;
    padding: 1px;
}

}

@media screen and (max-width: 780px) {
    .ready-made-solutions-mobile{
    display: block;
}

.ready-made-solutions-mobile_grid{
    display: grid;
}
}

@media screen and (max-width: 700px) {
    .ready-made-solutions__services{
    align-items: start;
    gap: 33px 10px;
}
}