.ready-made-solutions h2{
    text-align: center;
    padding: 0 12px;
}

.ready-made-solutions__tabs-inner{
    display: flex;
    justify-content: center;
    gap: 10px 35px;
    padding: 0 5px 0 35px;
    margin: 6px 0 20px 0;
}

.ready-made-solutions__tabs-button{
    background-color: transparent;
    padding: 0 0 8px 0;
    border-bottom: 1px solid transparent;
    cursor: pointer;
}

.ready-made-solutions__tabs-button_active{
    border-bottom: 1px solid #423329;
}

.ready-made-solutions__content{
    display: flex;
    gap: 10px 45px;
    padding: 45px 13.5% 0 13.5%;
    background: #423329;
    background: linear-gradient(180deg, #423329 61%, #fff 61%);
}

.ready-made-solutions__img-inner img{
    border-radius: 33px;
}

.ready-made-solutions__text-title-block{
    display: flex;
    gap: 10px 85px;
}

.ready-made-solutions__buttons-inner button{
    margin-bottom: 22px;
}

.ready-made-solutions__text-title-content{
    max-width: 369px;
    margin: 0 0 0 44px;
}

.ready-made-solutions__text-inner{
    padding: 15px 0 0 0;
}

.ready-made-solutions__services-title-block{
    display: flex;
    gap: 10px 10px;
}

.ready-made-solutions__services-personal{
    display: flex;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
}

.ready-made-solutions__services{
    display: flex;
    gap: 10px 76px;
    padding: 35px 0 10px 0;
}

.ready-made-solutions__services-title-block_1{
    max-width: 260px;
    width: 100%;
}

.ready-made-solutions__services-title-block_2-blocks{
   margin-bottom: 28px;
} 

.ready-made-solutions__services-title{
    padding: 8px 0 0 0;
    width: 100%;
}

.ready-made-solutions__services-title h4{
    padding: 0 0 24px 0;
}

.ready-made-solutions__text-subtitle{
    margin: 50px 0 20px 0;
}

.ready-made-solutions__text{
    min-height: 110px;
    padding: 0 0 10px 0;
}

@media screen and (max-width: 1660px) {
.ready-made-solutions__content{
    padding: 45px 3.5% 0 3.5%;
}

}

@media screen and (max-width: 1400px) {
.ready-made-solutions__content{
    padding: 45px 12px 0 12px;
}
.ready-made-solutions__content{
    gap: 10px 20px;
}
.ready-made-solutions__content{
    gap: 10px 55px;
}
.ready-made-solutions__content{
    gap: 10px 40px;
}
}

@media screen and (max-width: 860px) {
    .ready-made-solutions__content{
    display: block;
    background: #423329;
    background: linear-gradient(180deg, #423329 62%, #fff 62%);
}

.ready-made-solutions__text-title-block{
    flex-direction: column;
    align-items: center;
}

.ready-made-solutions__text-subtitle{
    text-align: center;
    margin: 37px 0 20px 0;
}

.ready-made-solutions__text-title-content{
    margin: 0;
}

.ready-made-solutions__text-title{
    text-align: center;
}

.ready-made-solutions__text-inner
 {
    padding: 28px 0 0 0;
}

.ready-made-solutions__text{
    min-height: auto;
    text-align: center;
    padding: 0 0 20px 0;
}

.ready-made-solutions__services{
    flex-direction: column;
    align-items: center;
}

.ready-made-solutions__img-inner{
    display: flex;
    justify-content: center;
}

.ready-made-solutions__tabs-inner{
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr 1fr;
    padding: 0 12px;
}

.ready-made-solutions__tabs-button{
    background-color: transparent;
    padding: 4px 4px 4px 4px;
    border-bottom: none;
}

.ready-made-solutions__tabs-button_active{
    border-bottom: none;
    background-color: #DFDFDF;
    border-radius: 5px;
}


}

@media screen and (max-width: 700px) {
    .ready-made-solutions__services{
    align-items: start;
}
}