.service-info{
padding: 0 12px;
}

.service-info h3{
    text-align: center;
    margin-bottom: 32px;
}

.service-info__item-title{
    margin-bottom: 26px;
}

.service-info__block-inner{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 10px 55px;
}

.service-info__block-inner-2{
    display: grid;
    grid-template-columns: repeat(3, minmax(100px, 420px));
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 10px 70px;
}

@media screen and (max-width: 1200px) {
.service-info__block-inner{
    gap: 57px 15px;
}

.service-info__block-inner-2{
    gap: 57px 15px;
}
}

@media screen and (max-width: 780px) {
    .service-info__block-inner{
    grid-template-columns: 1fr;
}

.service-info__block-inner-2{
    grid-template-columns: 1fr;
}

.service-info h3{
    max-width: 94%;
    margin: 0 auto 15px auto;
    font-size: 3.5rem;
}
}
