.services {
  padding: 8px 0 0 0;
}

.services-title {
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
  margin: 0 13%;
}

.services-block{
 background-image: url("../../assets/img/services/services-bg.svg");
 background-repeat: no-repeat;
 background-position: top left;
 padding: 0 40px 58px 22px;
}

.services-block__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 10px;
  margin: 0 13%;
}

.services-image__inner{
  border-radius: 33px;
}

.services__item {
  display: inline-block;
}

.services__element {
  display: flex;
  justify-content: center;
}

.services__icon {
  margin: 18.5px 0 8px 0;
}

.service-order {
  display: flex;
  column-gap: 22px;
  padding: 22px 10% 30px 10.8%;
  border: 1px solid #eddbae;
  margin: 0 13.8% 0 13.25%;
}

.services__text-block {
  margin: 0 4.6% 0 7%;
}

.service-button__inner {
  margin: auto 0;
}

.services__text{
  letter-spacing: 1.3px;
  text-align: right;
}

.services__text2{
  letter-spacing: 3px;
}

@media screen and (max-width: 1660px) {
  .services-title {
  margin: 0 3%;
}

  .services-block__inner {
   margin: 0 3%;
}

.service-order {
  padding: 22px 6% 30px 6.8%;
  margin: 0 9.8% 0 9.25%;
}

}

@media screen and (max-width: 1200px) {
  .services-block__inner {
  margin: 0;
}

.service-order {
  padding: 22px 1% 32px 1%;
  margin: 0 12px 0 12px;
}

.services__text-block{
  margin: 0 1.6% 0 3%;
}

.services-block{
 background-image: none;
}

}

@media screen and (max-width: 780px) {
.services__text-block{
  margin: 0 50px 0 50px;
}

.service-order {
  flex-direction: column;
  align-items: center;
  gap: 27px;
}

.services__text{
  text-align: center;
}

.services__text2{
  font-size: 3.2rem;
  text-align: center;
}

.services-block{
 padding: 0 12px 44px 12px;
}

.services {
  padding: 62px 0 0 0;
}

.services-title {
  padding: 0 12px 26px 12px;
  margin: 0;
}

.services-block__inner {
  gap: 30px 10px;
  margin: 0;
}

}

@media screen and (max-width: 434px) {
   .services-block__inner {
  flex-direction: column;
  align-items: center;
}
.services__text-block{
  margin: 0 13px 0 13px;
}
}

@media screen and (max-width: 380px) {
.services__text{
  letter-spacing: 1px;
}

.services__text2{
  letter-spacing: 2px;
}
}