.services {
  margin: 0 13%;
  padding: 67px 0 0 0;
}
.services-title {
  display: flex;
  justify-content: center;
}

.services-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px 10px;
  padding: 62px 20px 44px 15px;
}

.services-text_spacing {
  letter-spacing: 1.3px;
}

.services-text_spacing2 {
  letter-spacing: 3px;
}

.services__item {
  display: inline-block;
}

.services__element {
  display: flex;
  justify-content: center;
}

.services__icon {
  margin: 18.5px 0 8px 0;
}

.service-order {
  display: flex;
  column-gap: 10px;
  padding: 22px 10% 30px 10.8%;
  margin: 0 14px 0 8px;
  border: 1px solid #eddbae;
}

.services__text-block {
  margin: 0 4.6% 0 11.5%;
}

.service-button__inner {
  margin: auto 0;
}
