.service-feature {
  padding: 0 12px;
}

.service-feature__slider-track {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 1px;
}

.service-feature__item-img {
  width: 100%;
}

.service-feature__slider {
  overflow-x: hidden;
  margin: 0 auto;
}

.service-feature__slider-track {
  transform: translateX(0);
}

.service-feature__slider-transition {
  transition: transform 0.4s ease;
}

.service-feature__slider-item_pointer {
  cursor: pointer;
}

.service-feature-popup__close-img {
  cursor: pointer;
}

.service-feature__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}

.service-feature__slider-arrow-inner {
  cursor: pointer;
}

.service-feature__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.service-feature__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 35px 10px;
  z-index: 15;
}

.service-feature__popup_opened {
  display: block;
}

.service-feature-popup__close-inner {
  display: flex;
  justify-content: end;
}

.service-feature-popup__close-img {
  cursor: pointer;
}

.service-feature-popup__slider-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 10px;
}

.service-feature-popup__slider-arrow-right,
.service-feature-popup__slider-arrow-left {
  cursor: pointer;
}

.service-feature__slider-item-img_popup {
  width: 26.5%;
  margin: 0 auto;
}

.service-feature-popup__slider-block-content {
  overflow-x: hidden;
}

.service-feature-popup__content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.service-feature-popup__content {
  display: flex;
  gap: 0px;
  align-items: center;
  transform: translateX(0);
}
.service-feature-item_popup {
  flex-shrink: 0;
  width: 100%;
}

.service-feature__text {
  max-width: 911px;
  text-align: center;
  margin: 0 auto;
}

.service-feature__text_up-paragraph {
  margin: 20px auto 60px auto;
}

.service-feature__text_down-paragraph {
  margin: 63px auto 19px auto;
}

@media screen and (max-width: 780px) {
  .service-feature__text_up-paragraph {
    margin: 19px auto 52px auto;
  }

  .service-feature__text_down-paragraph {
    margin: 48px auto 19px auto;
  }
  .service-feature__slider-item-img_popup {
    width: 85%;
  }
}
