.services {
  padding: 8px 0 0 0;
}

.services-title {
  display: flex;
  justify-content: center;
  padding-bottom: 66px;
  margin: 0 13%;
}

.services-block{
 background-image: url("../../assets/img/services/services-bg.svg");
 background-repeat: no-repeat;
 background-position: top left;
 padding: 0 40px 58px 22px;
}

.services-block__inner {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px 10px;
  margin: 0 13%;
}

.services-image__inner{
  border-radius: 33px;
}

.services-text_spacing {
  letter-spacing: 1.3px;
}

.services-text_spacing2 {
  letter-spacing: 3px;
}

.services__item {
  display: inline-block;
}

.services__element {
  display: flex;
  justify-content: center;
}

.services__icon {
  margin: 18.5px 0 8px 0;
}

.service-order {
  display: flex;
  column-gap: 22px;
  padding: 22px 10% 30px 10.8%;
  border: 1px solid #eddbae;
  margin: 0 13.8% 0 13.25%;
}

.services__text-block {
  margin: 0 4.6% 0 7%;
}

.service-button__inner {
  margin: auto 0;
}

@media screen and (max-width: 1660px) {
  .services-title {
  margin: 0 3%;
}

  .services-block__inner {
   margin: 0 3%;
}

.service-order {
  padding: 22px 6% 30px 6.8%;
  margin: 0 9.8% 0 9.25%;
}

}