.service-info{
padding: 0 12px;
}

.service-info h3{
    text-align: center;
    margin-bottom: 32px;
}

.service-info__item-title{
    margin-bottom: 26px;
}

.service-info__block-inner{
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 300px));
    grid-template-rows: 1fr;
    justify-content: center;
    gap: 10px 55px;
}

@media screen and (max-width: 1200px) {
.service-info__block-inner{
    gap: 10px 15px;
}
}

@media screen and (max-width: 780px) {
    .service-info__block-inner{
    grid-template-columns: 1fr;
}
}
