.slogan {
padding: 0 12px;

}

.slogan__title{
    text-align: center;
    margin: 0 0 26px 0;
    letter-spacing: -0.2px;
}

.slogan__text{
    max-width: 1420px;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 780px) {
    .slogan__title{
    letter-spacing: 1px;
}
}