
.trust-us h2{
    text-align: center;
    padding: 0 10px;
    margin-bottom: 28px;
}

.trust-us__content{
    padding: 35px 13.5% 47px 13.5%;
    background-color: #FBFBF9;
    display: flex;
    gap: 10px 89px;
}

.trust-us__text-block{
    padding: 69px 0 0 0;
}

.trust-us__text{
    margin: 24px 0 18px 0;
}

.trust-us-button-inner{
    margin: 50px 0 0 0;
}

.trust-us__text-block-text{
    max-width: 510px;
}


@media screen and (max-width: 1660px) {
   .trust-us__content{
    padding: 35px 3.5% 47px 3.5%;
}

}

@media screen and (max-width: 1440px) {
   .trust-us__content{
     gap: 10px 30px;
}

}

@media screen and (max-width: 1200px) {
      .trust-us__content{
    padding: 35px 12px 47px 12px;
}

}

@media screen and (max-width: 1000px) {

.trust-us__text-block{
    padding: 35px 0 0 0;
}
}

@media screen and (max-width: 780px) {

.trust-us__text-block{
    padding: 33px 0 0 0;
}

.trust-us__content{
    display: block;
      padding: 13px 12px 47px 12px;
}

.trust-us h2{
   padding: 20px 12px 20px 12px;
   margin-bottom: 0;
   background-color: #FBFBF9;
}

.trust-us-button-inner{
    margin: 31px 0 0 0;
}
}

@media screen and (max-width: 450px) {
.trust-us__content-img-inner img{
    width: 100%;
}
}