.up-button {
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 5%;
  width: 68px;
  height: 68px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #eddbae;
  cursor: pointer;
}

.up-button_show {
  display: flex;
}

@media screen and (max-width: 780px) {
  .up-button {
    width: 70px;
    height: 70px;
  }
}
