@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Ebbe";
  src: url("../../assets/fonts/ebbe/Ebbe-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../../assets/fonts/pf-din-text-comp-pro/PFDinTextCompPro-Medium.ttf");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

button {
  border: none;
}

input {
  border: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.mobile{
  display: none;
}

@media screen and (max-width: 780px) {
  .mobile{
  display: block;
}
}

.uppercase {
  text-transform: uppercase;
}

.font_medium {
  font-weight: 500;
}

.text-align_right {
  text-align: right;
}

.text-align_center {
  text-align: center;
}

.text-base {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #000000;
}

.text-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}

.text-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #fff;
}

.text-main-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 10.6rem;
  color: #000000;
}

.text-extra-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 12.9rem;
  color: #000000;
}

.text-block-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: #000000;
}

.text-block-little-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: #000000;
}

.text-main-text {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: #000000;
}

.text-item-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

.text-info {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}

.text-info-solutions {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: #000;
}

.text-location {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: #000;
}

.text-heading {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #000000;
}

.text-section-big-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 7.9rem;
  color: #000000;
}

.text-contact {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-cost {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
  color: #000000;
}

.text-item-writing {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-info-block-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 8rem;
  color: #000000;
}

.text-item-writing_size {
  font-size: 1.8rem;
}

.font_semi-bold {
  font-weight: 600;
}

.font_bold {
  font-weight: 700;
}

.font_light {
  font-weight: 300;
}

.text_colored {
  color: #fff;
}

.text_colored2 {
  color: #eddbae;
}

.text_colored3 {
  color: #939393;
}

.text_colored4 {
  color: #b09f74;
}

.text_colored5 {
  color: #7a7069;
}

.text_colored6 {
  color: #d89696;
}

.text_colored7 {
  color: #696c7a;
}

.text_colored8 {
  color: #757a7f;
}

.text_colored9 {
  color: #96a788;
}

.text_colored10 {
  color: #719196;
}

.text_spacing {
  letter-spacing: 2.4px;
}

.text_spacing2 {
  letter-spacing: 6px;
}

.text_spacing3 {
  letter-spacing: 1.3px;
}

.text_spacing4 {
  letter-spacing: 1.6px;
}

.text_line-height {
  line-height: 2.5rem;
}

.text_line-height2 {
  line-height: 3rem;
}

.text_center {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .text-main-title {
    font-size: 8rem;
  }
  .text-main-text {
    font-size: 2.5rem;
  }

  .text-extra-title {
    font-size: 9rem;
  }

  .text-info-block-title {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1200px) {
  .text-info-block-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 780px) {
  .text-main-title {
    font-size: 5rem;
  }

  .text-section-big-title {
    font-size: 3.5rem;
  }

  .text-block-title {
    font-size: 3.5rem;
  }

  .text-extra-title {
    font-size: 3.5rem;
  }

  .text-info-block-title {
    font-size: 3.5rem;
  }
}

.social-links {
  display: flex;
  column-gap: 13.5px;
}

.search-input {
  display: inline-block;
  max-width: 108px;
  width: 100%;
}

.search-input:-ms-input-placeholder {
  color: #939393;
}

.search-input::placeholder {
  color: #939393;
}

.search__icon {
  margin-left: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/img/icons/search/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
  .search-input {
  max-width: 328px;
  font-size: 1.5rem;
  color: #000;
}

.search-input:-ms-input-placeholder{
  font-size: 1.5rem;
  color: #000;
}

.search-input::placeholder{
  font-size: 1.5rem;
  color: #000;
}

.search{
  display: flex;
  max-width: 390px;
  width: 100%;
  border-radius: 30px;
  padding: 11px 10px 9px 23px;
  background-color: #fff;
}

.search__icon {
  width: 23px;
  height: 23px;
  background-image: url("../../assets/img/mobile/search/loop.svg");
}
}

.button {
  min-width: 203px;
  padding: 13px 44px;
  border-radius: 30px;
  background-color: #000;
  cursor: pointer;
}

.button_anchor {
  display: inline-block;
}

.button__dowload-icon {
  background-image: url("../../assets/img/icons/dowload/download.svg");
  background-position: right 25px center;
  background-repeat: no-repeat;
}

.button__letter-space {
  letter-spacing: 1px;
}

.button__letter-space2 {
  letter-spacing: 1.3px;
}

.button_colored-1 {
  background-color: #ff8e8e;
}

.button_colored-2 {
  background-color: #b09f74;
}

.button_colored-3 {
  background-color: #423329;
  border: 2px solid #eddbae;
}

.button_colored-4 {
  background-color: #c76a6a;
  border: 2px solid #eddbae;
}

.button_colored-5 {
  background-color: #292e42;
  border: 2px solid #eddbae;
}

.button_colored-6 {
  background-color: #3b4249;
  border: 2px solid #eddbae;
}

.button_colored-7 {
  background-color: #698155;
  border: 2px solid #eddbae;
}

.button_colored-8 {
  background-color: #557a81;
  border: 2px solid #eddbae;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: url("../../assets/img/buttons/button-order.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-order_colored {
  background-image: url("../../assets/img/buttons/button-order_colored.svg");
}

.button-order_colored-mobile {
  background-image: url("../../assets/img/mobile/buttons/order-button_colored-mobile.svg");
}

.page-info{
    text-align: right;
    padding: 18px 0 25px 0;
    margin:  0 13.5% 0 13.5%;
}

@media screen and (max-width: 1660px) {
.page-info{
    margin:  0 3.5% 0 3.5%;
}
}

@media screen and (max-width: 1400px) {
.page-info{
    margin:  0 12px 0 12px;
}
}

@media screen and (max-width: 780px) {

    .page-info{
        display: none;
    }
}

.info-block{
    padding: 0 13.5% 5px 13.5%;
}

.info-block__text-title_word{
    display: block;
}

.text-info__img-inner img{
    border-radius: 33px;
}

.info-block__content{
    display: flex;
    flex-wrap: wrap;
    gap: 10px 10px;
    justify-content: space-between;
}

.info-block__text{
    padding: 80px 0 220px 0;
    max-width: 47.5%;
}

.info-block__text_width{
    max-width: 48%;
}

.info-block__text_padding{
    padding: 146px 0 220px 0;
}

.info-block__text_padding2{
    padding: 83px 0 220px 0;
}

.info-block__text-subtitle{
padding: 6px 0 20px 0;
}

.info-block__text-subtitle2{
padding: 33px 0 20px 0;
}

.info-block__text-info{
    margin: 37px 0 20px 0;
}

.text-info__img-inner{
    position: relative;
    padding: 0 0 155px 0;
}

.info-block__button-inner{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(-86.5%, -35%);
}

.info-block__button-inner_transform{
    transform: translate(-65.5%, -35%);
}

.info-block__button-inner_transform2{
    transform: translate(-90.5%, -39%);
}

@media screen and (max-width: 1700px) {
 .info-block__text{
    padding: 80px 0 220px 0;
    max-width: 45.5%;
}

}

@media screen and (max-width: 1660px) {
 .info-block{
    padding: 0 3.5% 5px 3.5%;
}

}

@media screen and (max-width: 1400px) {
 .info-block{
    padding: 0 12px 5px 12px;
}

 .info-block__text{
    max-width: 40.5%;
}

}

@media screen and (max-width: 1200px) {
.info-block__content{
    display: block;
}

.text-info__img-inner img{
    border-radius: 20px;
}

 .info-block__text{
    padding: 40px 0 20px 0;
    max-width: 100%;
    text-align: center;
}

.info-block__text-title_word{
    display: inline-block;
}

.text-info__img-inner{
    display: flex;
    justify-content: center;
}

.info-block__button-inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -20%);
}
}

@media screen and (max-width: 600px) {
.info-block__text-info{
    margin: 10px 0 20px 0;
}

.info-block__text p{
 text-align: left;
}

 .info-block__text{
    padding: 40px 0 33px 0;

}
.text-info__img-inner {
    padding: 0 0 98px 0;
}

.info-block__button-inner{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}

.info-block__text-subtitle2{
    padding: 12px 0 18px 0;
    text-align: left;
}
}

@media screen and (max-width: 430px) {
    .text-info__img-inner img{
        width: 100%;
    }
}

.why-to-choose{
    padding: 0 13.5% 79px 13.5%;
}

.why-to-choose h3{
    text-align: center;
    margin-bottom: 50px;
}

.why-to-choose__text{
    margin-bottom: 19px;
}

@media screen and (max-width: 1660px) {
.why-to-choose{
    padding: 0 3.5% 79px 3.5%;
}
}

@media screen and (max-width: 600px) {
 .why-to-choose {
    padding: 0 16px 30px 16px;
    }
.why-to-choose h3 {
    margin-bottom: 25px;
}

}

.bid-form{
    padding: 10px 13.5% 98px 13.5%;
    background-color: #FBFBF9;
}

.bid-form h2{
    text-align: center;
    margin-bottom: 32px;
}

.bid-form__text{
    max-width: 996px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 15px;
}

.bid-form__text_word{
    display: block;
}

.bid-form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
  margin-bottom: 29px;
}

.bid-form__input:-ms-input-placeholder{
    color: #000;
}

.bid-form__input::placeholder{
    color: #000;
}

.bid-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span{
   position: relative;
   top: 4px;
   display: inline-block;
   border-radius: 50%;
   width: 18px;
   height: 18px;
   margin-right: 8px;
   border: 1px solid #eddbae;
}

.bid-form__input_radio-span-active{
    position: relative;
}

.bid-form__input_radio-span-active::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #B09F74;
}

.bid-form__radio-title{
    margin-bottom: 15px;
}

.bid-form__radio-text{
    display: inline-block;
    cursor: pointer;
    margin-bottom: 15px;
}

.bid-form__textarea{
  display: inline-block;
  min-width: 400px;
  resize: none;
  max-height: 40px;
  border: 1px solid #eddbae;
  background-color: #fff;
  border-radius: 30px;
  padding: 10px 20px;
}

.bid-form__textarea:-ms-input-placeholder{
    color: #000;
}

.bid-form__textarea::placeholder{
    color: #000;
}

.bid-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.bid-form__form{
    display: flex;
    gap: 10px 62px;
    justify-content: center;
    margin: 58px 0 0 0;
}

.bid-form__disclaimer{
    margin: 20px 0 35px 0;
}

.bid-form__block{
    padding: 70px 0 0 0;
}

.bid-form__connect{
    margin: 14px 0 22px 0;
}

@media screen and (max-width: 1660px) {
    .bid-form{
    padding: 10px 3.5% 98px 3.5%;
}

}

@media screen and (max-width: 1200px) {
    .bid-form{
    padding: 10px 12px 98px 12px;
}

.bid-form__form{
    gap: 10px 9px;
}

}

@media screen and (max-width: 1060px) {
.bid-form__form{
    flex-direction: column;
    gap: 30px 9px;
    align-items: center;
}

.bid-form__block{
    padding: 0 0 0 0;
}

.bid-form__button{
    display: block;
    margin: 0 auto;
}

.bid-form__input {
  display:  block;
  min-width: 200px;
  margin: 0 auto 20px auto;
 
}

.bid-form__textarea{
  display: block;
  max-width: 390px;
  min-width: 10px;
  min-height: 114px;
  max-height: auto;
  margin: 0 auto;
  padding: 10px 20px;
}

}

@media screen and (max-width: 600px) {
    .bid-form {
        padding: 41px 12px 64px 12px;
    }

     .bid-form__form-block{
        margin-bottom: 20px;
     }

    .bid-form__text{
        display: none;
    }

    .bid-form h2{
        margin-bottom: 28px;
    }

    .bid-form__form{
        display: block;
        margin: 22px 0 0 0;
        padding: 0 12px;
    }

    .bid-form__input{
        min-width: auto;
        max-width: 390px;
        width: 100%;
        margin: 0 auto 31px auto;
    }

    .bid-form__disclaimer{
        margin: 28px 0 44px 0;
    }
    .bid-form__disclaimer_space{
        display: none;
    }

    .bid-form__textarea{
  display: block;
  width: 100%;
}
}

@media screen and (max-width: 400px) {

 .bid-form__disclaimer{
        text-align: center;
    }
}

.order-call-form-block{
    position: fixed;
    left: -300%;
    top: 0;
    z-index: 100;
    width: 100.5vw;
    height: 100.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    background-color: #696C7A;
}

.order-call-form-block_show{
     left: 0;
}

.order-call__form-inner{
    max-width: 515px;
    padding: 19px 10px 53px 10px;
}

.order-call__form-inner h2{
    text-align: center;
    margin: 8px 0 29px 0;
}

.order-call__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-call-form__input-inner{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.order-call-form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.order-call-form__input:-ms-input-placeholder{
  color: #000;
}

.order-call-form__input::placeholder{
  color: #000;
}

.order-call-form__textarea{
  display: block;
  min-width: 414px;
  resize: none;
  min-height: 138px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto 29px auto;
}

.order-call-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.order-call-form__textarea:-ms-input-placeholder{
  color: #000;
}

.order-call-form__textarea::placeholder{
  color: #000;
}

.order-call-form__text{
    max-width: 415px;
    text-align: center;
    margin: 29px auto 21px auto;
}

.order-call-form__button-inner{
    display: flex;
    justify-content: center;
}

.order-call__form-cross-inner{
   display: flex;
   justify-content: right;
   margin: 0 10px 0 0;
}

.order-call__form-cross{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .order-call-form__input-inner{
        flex-direction: column;
        align-items: center;
    }

    .order-call-form__textarea{
        min-width: auto;
        max-width: 90%;
        width: 100%;
}
}

.up-button {
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 5%;
  width: 68px;
  height: 68px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #eddbae;
  cursor: pointer;
}

.up-button_show {
  display: flex;
}

@media screen and (max-width: 780px) {
  .up-button {
    width: 70px;
    height: 70px;
  }
}

.header-block {
  position: relative;
  padding: 33px 0 19px 0;
  background-image: url("../../assets/img/header/header-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0 13.5% 0 13.5%;
}

.header__line {
  width: 100%;
  height: 2px;
}

.header {
  display: flex;
  column-gap: 10px;
}

.header__block {
  padding: 21px 0 0 0;
}

.header__block-nav {
  display: flex;
  column-gap: 50px;
  padding: 54.8px 10px 0 2.3%;
}

.header__text-info {
  padding: 21px 3.32% 0 4.2%;
}

.header__social-links {
  padding: 21px 25px 0 31px;
}

.header__contacts {
  position: relative;
  top: -5px;
  padding: 21px 0 0 20px;
}

.header-spacing {
  letter-spacing: 1.4px;
}

.header-spacing2 {
  letter-spacing: -0.1px;
}

.header__block_mobile{
  display: none;
}

.header__contacts-text{
  text-align: right;
}

@media screen and (max-width: 1660px) {
.header-block {
  margin: 0 3.5% 0 3.5%;
}

.header__block-nav {
  padding: 54.8px 10px 0 4%;
}

}

@media screen and (max-width: 1500px) {
.header__block-nav {
  padding: 40px 10px 0 18px;
}

.header__text-info {
  padding: 21px 1% 0 1.6%;
  flex-shrink: 3;
}
.header__social-links {
  padding: 21px 8px 0 10px;
}
}

@media screen and (max-width: 1400px) {
.header-block {
  margin: 0 12px 0 12px;
}
}

@media screen and (max-width: 1180px) {
  .header__text-block{
   display: none;
}
}

@media screen and (max-width: 1000px) {
   .header__botton-block{
     display: none;
}
}

@media screen and (max-width: 780px) {
  .header-block {
    position: relative;
    background-image: none;
    padding: 19px 12px 10px 12px;
    margin: 0;
  }

  .header__contacts-text{
  text-align: center;
  }

  .header {
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

  .header__social-links {
  display: none;
}

.header__text-info {
  display: none;
}

.header__block-nav {
  position: absolute;
  left: -200%;
  z-index: 10;
  top: 0;
  display: block;
  margin: 0 auto;
  max-width: 102vh;
  width: 100%;
  background-color: #B09F74;
  padding: 19px 10px 70px 10px;
  transition: all 0.4s ease-in-out;
}

.header__navigation{
  text-align: center;
}

.header__block-nav_open{
  left: 0;
}

.header__contacts {
  top: 0;
  padding: 21px 0 0 0;
}



}

.navigation {
  display: flex;
  column-gap: 49px;
}

.navigation__list {
  cursor: pointer;
}

.navigation__arrow {
  margin-left: 6px;
  display: inline-block;
  width: 7px;
  height: 3px;
  background-image: url("../../assets/img/icons/arrows/nav-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__submenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-13%) translateY(100%);
  background-color: #fff;
  padding: 3px 26px;
  z-index: 15;
}

.navigation__submenu-link {
  text-wrap: nowrap;
  display: block;
  margin: 8px 0;
}

.navigation-show__submenu {
  position: relative;
}

.navigation__submenu_show {
  display: block;
}

.navigation-text {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #000;
}

.navigation_mobile {
  display: none;
}

.navigation__mobile-social-links {
  display: none;
  column-gap: 14px;
}

.navigation-burger {
  display: none;
}

.navigation__cross {
  display: none;
}

.navigation__logo {
  display: none;
}

.navigation__search {
  margin: auto 0;
}

@media screen and (max-width: 780px) {
  .navigation_mobile {
    display: block;
  }
  .navigation {
    display: block;
  }
  .navigation li {
    margin-bottom: 25px;
  }

  .navigation-text {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
  }

  .navigation__mobile-social-links {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  .navigation__submenu {
    position: relative;
    transform: translateX(0) translateY(0);
    background-color: #b09f74;
    padding: 0;
  }

  .navigation-mobile__text-block {
    padding: 30px 0 80px 0;
  }

  .navigation__mobile-button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
  .navigation__search {
    display: flex;
    justify-content: center;
  }

  .navigation__arrow {
    position: relative;
    top: -2px;
    background-image: url("../../assets/img/mobile/navigation/arrow.svg");
  }

  .navigation__cross-line {
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
  }

  .navigation__cross-line_left {
    top: 2px;
    position: relative;
    transform: rotateZ(45deg);
  }

  .navigation__cross-line_right {
    position: relative;
    transform: rotateZ(-45deg);
  }

  .navigation__cross {
    position: relative;
    display: inline-block;
    top: 25px;
    margin-left: 23px;
  }

  .navigation-cross__click {
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 18px;
    cursor: pointer;
  }

  .navigation__logo {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

  .navigation-burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 19px;
    left: 18px;
  }

  .navigation-burger__line {
    width: 22px;
    height: 2px;
    border-radius: 3px;
    background-color: #b09f74;
  }

  .navigation-burger__line_padding {
    margin: 9px 0;
  }
}

.footer {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  padding: 52px 13.54%;
  min-height: 197px;
  background-color: #000;
}

.footer__social {
  display: flex;
  column-gap: 5px;
}

.footer__social-block {
  padding: 10px 0 0 0;
  margin: 0 20px 0 139px;
}

@media screen and (max-width: 1560px) {
  .footer {
  padding: 52px 6.54%;
}
}

@media screen and (max-width: 1280px) {
  .footer {
   padding: 52px 1.54%;
}
  .footer__social-block {
   margin: 0 15px 0 30px;
}
}

@media screen and (max-width: 980px) {
 .footer{
   flex-direction: column;
   align-items: center;
   gap: 42px;
 }

 .footer__social {
  flex-direction: column;
  align-items: center;
}

.footer p {
  text-align: center;
}

.footer__social-block {
   margin: 0;
   padding: 42px 0 23px 0;
}

}

@media screen and (max-width: 600px) {
  .corporate-clients-page__info-block {
    margin-bottom: 33px;
  }
}
