@import url("../../base/_fonts.css");
@import url("../../base/_base.css");
@import url("../../base/_fonts-styles.css");
@import url("../../components/social-links.css");
@import url("../../components/search.css");
@import url("../../components/button.css");
@import url("../../components/page-info.css");
@import url("../../components/type-of-service.css");
@import url("../../components/ready-made-solutions.css");
@import url("../../components/service-feature.css");
@import url("../../components/service-info.css");
@import url("../../components/food-and-cost.css");
@import url("../../components/slogan.css");
@import url("../../components/order-block.css");
@import url("../../layout/header.css");
@import url("../../layout/navigation.css");
@import url("../../layout/footer.css");

.child-keitering-page__ready-made-solutions{
    margin: 38px 0 144px 0;
}

.child-keitering-page__service-info{
    margin: 63px 0 62px 0;
}

.child-keitering-page__slogan{
    margin: 76px 0 44px 0;
}

@media screen and (max-width: 780px) {
.child-keitering-page__type-of-service{
    margin: 36px 0 0 0;
}

.child-keitering-page__ready-made-solutions{
    margin: 46px 0 67px 0;
}

.child-keitering-page__service-info{
    margin: 54px 0 57px 0;
}

.child-keitering-page__slogan{
    margin: 93px 0 58px 0;
}
}