@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Regular.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Medium.ttf");
  font-weight: 500;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Raleway";
  src: url("../../assets/fonts/raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
}

@font-face {
  font-family: "Ebbe";
  src: url("../../assets/fonts/ebbe/Ebbe-Thin.ttf");
  font-weight: 100;
}

@font-face {
  font-family: "PFDinTextCompPro";
  src: url("../../assets/fonts/pf-din-text-comp-pro/PFDinTextCompPro-Medium.ttf");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

button {
  border: none;
}

input {
  border: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
button,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1920px;
  margin: 0 auto;
  overflow-x: hidden;
}

.mobile{
  display: none;
}

@media screen and (max-width: 780px) {
  .mobile{
  display: block;
}
}

.uppercase {
  text-transform: uppercase;
}

.font_medium {
  font-weight: 500;
}

.text-align_right {
  text-align: right;
}

.text-align_center {
  text-align: center;
}

.text-base {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #000000;
}

.text-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}

.text-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #fff;
}

.text-main-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 10.6rem;
  color: #000000;
}

.text-extra-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 12.9rem;
  color: #000000;
}

.text-block-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: #000000;
}

.text-block-little-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: #000000;
}

.text-main-text {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: #000000;
}

.text-item-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

.text-info {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}

.text-info-solutions {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  font-size: 3rem;
  color: #000;
}

.text-location {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: #000;
}

.text-heading {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #000000;
}

.text-section-big-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 7.9rem;
  color: #000000;
}

.text-contact {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-cost {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 1.8rem;
  letter-spacing: 0;
  color: #000000;
}

.text-item-writing {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-info-block-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 8rem;
  color: #000000;
}

.text-item-writing_size {
  font-size: 1.8rem;
}

.font_semi-bold {
  font-weight: 600;
}

.font_bold {
  font-weight: 700;
}

.font_light {
  font-weight: 300;
}

.text_colored {
  color: #fff;
}

.text_colored2 {
  color: #eddbae;
}

.text_colored3 {
  color: #939393;
}

.text_colored4 {
  color: #b09f74;
}

.text_colored5 {
  color: #7a7069;
}

.text_colored6 {
  color: #d89696;
}

.text_colored7 {
  color: #696c7a;
}

.text_colored8 {
  color: #757a7f;
}

.text_colored9 {
  color: #96a788;
}

.text_colored10 {
  color: #719196;
}

.text_spacing {
  letter-spacing: 2.4px;
}

.text_spacing2 {
  letter-spacing: 6px;
}

.text_spacing3 {
  letter-spacing: 1.3px;
}

.text_spacing4 {
  letter-spacing: 1.6px;
}

.text_line-height {
  line-height: 2.5rem;
}

.text_line-height2 {
  line-height: 3rem;
}

.text_center {
  text-align: center;
}

@media screen and (max-width: 1400px) {
  .text-main-title {
    font-size: 8rem;
  }
  .text-main-text {
    font-size: 2.5rem;
  }

  .text-extra-title {
    font-size: 9rem;
  }

  .text-info-block-title {
    font-size: 7rem;
  }
}

@media screen and (max-width: 1200px) {
  .text-info-block-title {
    font-size: 5rem;
  }
}

@media screen and (max-width: 780px) {
  .text-main-title {
    font-size: 5rem;
  }

  .text-section-big-title {
    font-size: 3.5rem;
  }

  .text-block-title {
    font-size: 3.5rem;
  }

  .text-extra-title {
    font-size: 3.5rem;
  }

  .text-info-block-title {
    font-size: 3.5rem;
  }
}

.social-links {
  display: flex;
  column-gap: 13.5px;
}

.button {
  min-width: 203px;
  padding: 13px 44px;
  border-radius: 30px;
  background-color: #000;
  cursor: pointer;
}

.button_anchor {
  display: inline-block;
}

.button__dowload-icon {
  background-image: url("../../assets/img/icons/dowload/download.svg");
  background-position: right 25px center;
  background-repeat: no-repeat;
}

.button__letter-space {
  letter-spacing: 1px;
}

.button__letter-space2 {
  letter-spacing: 1.3px;
}

.button_colored-1 {
  background-color: #ff8e8e;
}

.button_colored-2 {
  background-color: #b09f74;
}

.button_colored-3 {
  background-color: #423329;
  border: 2px solid #eddbae;
}

.button_colored-4 {
  background-color: #c76a6a;
  border: 2px solid #eddbae;
}

.button_colored-5 {
  background-color: #292e42;
  border: 2px solid #eddbae;
}

.button_colored-6 {
  background-color: #3b4249;
  border: 2px solid #eddbae;
}

.button_colored-7 {
  background-color: #698155;
  border: 2px solid #eddbae;
}

.button_colored-8 {
  background-color: #557a81;
  border: 2px solid #eddbae;
}

.button-order {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 12px;
  width: 155px;
  height: 155px;
  border-radius: 50%;
  border: 1px solid transparent;
  background-image: url("../../assets/img/buttons/button-order.svg");
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
}

.button-order_colored {
  background-image: url("../../assets/img/buttons/button-order_colored.svg");
}

.button-order_colored-mobile {
  background-image: url("../../assets/img/mobile/buttons/order-button_colored-mobile.svg");
}

.search-input {
  display: inline-block;
  max-width: 108px;
  width: 100%;
}

.search-input:-ms-input-placeholder {
  color: #939393;
}

.search-input::placeholder {
  color: #939393;
}

.search__icon {
  margin-left: 2px;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-image: url("../../assets/img/icons/search/search.svg");
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (max-width: 780px) {
  .search-input {
  max-width: 328px;
  font-size: 1.5rem;
  color: #000;
}

.search-input:-ms-input-placeholder{
  font-size: 1.5rem;
  color: #000;
}

.search-input::placeholder{
  font-size: 1.5rem;
  color: #000;
}

.search{
  display: flex;
  max-width: 390px;
  width: 100%;
  border-radius: 30px;
  padding: 11px 10px 9px 23px;
  background-color: #fff;
}

.search__icon {
  width: 23px;
  height: 23px;
  background-image: url("../../assets/img/mobile/search/loop.svg");
}
}

.main-info__text-block {
  padding: 70px 0 0 0;
  width: 48%;
}

.main-info {
  padding: 37px 0 8px 0;
  margin: 0 13.45% 0 13.45%;
  min-height: 650px;
}

.main-info__block-control {
  position: relative;
  top: -84px;
  display: flex;
  justify-content: right;
  column-gap: 34%;
}

.main-info__block-content {
  padding: 10px 0 0 0;
  display: flex;
  column-gap: 20px;
}

.main-info__text {
  margin-left: auto;
  letter-spacing: 5px;
}

.main__title_special {
  display: block;
}

.main-info__button-inner {
  margin-top: auto;
}

.main-info__button {
  margin-bottom: 6px;
}

.main-info-slider {
  margin-top: auto;
  margin-bottom: 13px;
}

.main-info-slider__arrows {
  display: flex;
  column-gap: 17px;
}

.main-info-slider__arrow {
  cursor: pointer;
}

@media screen and (max-width: 1660px) {
  .main-info {
    padding: 84px 0 34px 0;
    margin: 0 3.45% 0 3.45%;
  }
}

@media screen and (max-width: 1400px) {
  .main-info {
    padding: 44px 0 34px 0;
    margin: 0 1.45% 0 1.45%;
  }
  .main-info__text {
    padding-right: 20%;
  }

  .main-info__text-block {
    padding: 40px 0 0 0;
  }
}

@media screen and (max-width: 1200px) {
  .main-info__block-control {
    column-gap: 19%;
  }

  .main-info__text-block {
    padding: 30px 0 0 0;
  }
  .main-info {
    min-height: 50px;
  }
}

@media screen and (max-width: 780px) {
  .main-info {
    position: relative;
    padding: 40px 0 24px 0;
  }

  .main-info__block-control {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-52%, 2%);
  }

  .main-info__block-content {
    flex-direction: column;
    padding: 0;
  }

  .main-info__text {
    padding-right: 0;
  }

  .main-info {
    padding: 30px 12px 34px 12px;
    margin: 0;
    min-height: 580px;
  }

  .main-info__text-block {
    padding: 0;
    width: 100%;
  }

  .main-info__text-block h1 {
    padding: 0 0 0 25px;
  }

  .main-info-slider {
    display: none;
  }

  .main-info__img-inner {
    display: flex;
    justify-content: center;
  }

  .main-info__text {
    letter-spacing: 7px;
  }

  .main-info__button {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 380px) {
  .main-info__text {
    letter-spacing: 2px;
  }
  .main-info__img {
    width: 96%;
    margin: 0 auto;
  }
}

.services {
  padding: 8px 0 0 0;
}

.services-title {
  display: flex;
  justify-content: center;
  padding: 0 12px 66px 12px;
}

.services-block {
  background-image: url("../../assets/img/services/services-bg.svg");
  background-repeat: no-repeat;
  background-position: top left;
  padding: 0 40px 58px 22px;
}

.services-block__inner {
  display: grid;
  grid-template-columns: 386px 386px 386px;
  justify-content: center;
  gap: 45px 5%;
}

.services-image__inner {
  display: flex;
  justify-content: center;
  border-radius: 33px;
}

.services__item {
  cursor: pointer;
  display: inline-block;
}

.services__element {
  display: flex;
  justify-content: center;
}

.services__icon {
  margin: 18.5px 0 8px 0;
}

.service-order {
  display: flex;
  column-gap: 22px;
  padding: 22px 10% 30px 10.8%;
  border: 1px solid #eddbae;
  margin: 0 13.8% 0 13.25%;
}

.services__text-block {
  margin: 0 4.6% 0 7%;
}

.service-button__inner {
  margin: auto 0;
}

.services__text {
  letter-spacing: 1.3px;
  text-align: right;
}

.services__text2 {
  letter-spacing: 3px;
}

@media screen and (max-width: 1660px) {
  .service-order {
    padding: 22px 6% 30px 6.8%;
    margin: 0 9.8% 0 9.25%;
  }
}

@media screen and (max-width: 1400px) {
  .services-block__inner {
    gap: 30px 10px;
  }
}

@media screen and (max-width: 1260px) {
  .services-block__inner {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 1200px) {
  .service-order {
    padding: 22px 1% 32px 1%;
    margin: 0 12px 0 12px;
    justify-content: center;
  }

  .services__text-block {
    margin: 0 1.6% 0 3%;
  }

  .services-block {
    background-image: none;
    padding: 0 12px 58px 12px;
  }
}

@media screen and (max-width: 780px) {
  .services__text-block {
    margin: 0 50px 0 50px;
  }

  .service-order {
    flex-direction: column;
    align-items: center;
    gap: 27px;
  }

  .services__text {
    text-align: center;
  }

  .services__text2 {
    font-size: 3.2rem;
    text-align: center;
  }

  .services-block {
    padding: 0 12px 44px 12px;
  }

  .services {
    padding: 62px 0 0 0;
  }

  .services-title {
    padding: 0 12px 26px 12px;
  }
}

@media screen and (max-width: 434px) {
  .services-block__inner {
    grid-template-columns: 1fr;
  }
  .services__text-block {
    margin: 0 13px 0 13px;
  }
}

@media screen and (max-width: 380px) {
  .services__text {
    letter-spacing: 1px;
  }

  .services__text2 {
    letter-spacing: 2px;
  }
}

.portfolio {
  padding: 100px 0 10px 0;
}

.porfolio__title {
  display: flex;
  justify-content: center;
  padding: 0 13%;
}

.porfolio__tabs {
  padding: 32px 0 38px 0;
  display: flex;
  justify-content: center;
  column-gap: 32px;
  padding: 36px 13% 36px 13%;
}

.porfolio__tab {
  cursor: pointer;
  background-color: transparent;
}

.porfolio__examples {
  display: flex;
  gap: 1px;
  max-width: 100%;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none; /* Для Internet Explorer и Edge */
  scrollbar-width: none;
}

.porfolio__examples ::-webkit-scrollbar {
  display: none;
}

.porfolio-examples__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}

.porfolio__examples-item-1 {
  width: 456px;
  height: 359px;
}

.porfolio__examples-item-2 {
  width: 456px;
  height: 274px;
}

.porfolio__examples-item-3 {
  width: 298px;
  height: 217px;
}

.porfolio__examples-item-4 {
  width: 241px;
  height: 217px;
}

.porfolio__examples-item-5 {
  width: 540px;
  height: 416px;
}

.porfolio__examples-item-6 {
  width: 536px;
  height: 634px;
}

.porfolio__examples-item-7 {
  width: 312px;
  height: 230px;
}

.porfolio__examples-item-8 {
  width: 72px;
  height: 230px;
}

.porfolio__examples-item-9 {
  width: 385px;
  height: 402px;
}

.porfolio__examples-item-img {
  width: 100%;
  height: 100%;
}

.porfolio-examplese__slider-arrow-inner {
  cursor: pointer;
}

.porfolio__examples-subitem {
  display: flex;
  gap: 1px;
}

.porfolio__examples-item_up {
  margin-top: 1px;
}

.porfolio__examples-slider__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 35px 10px;
  z-index: 15;
}

.porfolio__examples-slider__popup_opened {
  display: block;
}

.porfolio__examples-popup__close-inner {
  display: flex;
  justify-content: end;
}

.porfolio__examples-popup__close-img {
  cursor: pointer;
}

.porfolio__examples__popup-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 10px;
}

.porfolio__examples-slider__popup-block-content {
  width: 100%;
  overflow-x: hidden;
}

.porfolio__examples-slider__popup-content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.porfolio__examples-slider__popup-content {
  display: flex;
  align-items: center;
  gap: 0;
  transform: translateX(0);
}

.porfolio__examples__slider {
  transition: transform 0.4s ease;
}

.porfolio__examples__item_popup {
  flex-shrink: 0;
  width: 100%;
}

.porfolio__examples__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.porfolio__examples__popup-slider-arrow-right,
.porfolio__examples__popup-slider-arrow-left {
  cursor: pointer;
}

.porfolio__examples__item-img_popup {
  width: 26.5%;
  height: 300px;
  margin: 0 auto;
}

@media screen and (max-width: 1660px) {
  .porfolio__title {
    padding: 0 3%;
  }
  .porfolio__tabs {
    padding: 36px 3% 36px 3%;
  }
}

@media screen and (max-width: 860px) {
  .porfolio__examples-item-1 {
    width: 400px;
    height: 270px;
  }

  .porfolio__examples-item-2 {
    width: 400px;
    height: 200px;
  }
  .porfolio__examples-item-3 {
    width: 220px;
    height: 140px;
  }
  .porfolio__examples-item-4 {
    width: 180px;
    height: 140px;
  }
  .porfolio__examples-item-5 {
    width: 400px;
    height: 330px;
  }
  .porfolio__examples-item-6 {
    width: 500px;
    height: 470px;
  }
  .porfolio__examples-item-7 {
    width: 250px;
    height: 150px;
  }
  .porfolio__examples-item-8 {
    width: 45px;
    height: 150px;
  }
  .porfolio__examples-item-9 {
    width: 295px;
    height: 320px;
  }

  .portfolio {
    padding: 50px 0 10px 0;
  }
  .porfolio__examples__item-img_popup {
    width: 100%;
    height: 240px;
  }
}

@media screen and (max-width: 500px) {
  .porfolio__tabs {
    padding: 20px 6px 19px 6px;
    column-gap: 26px;
  }
}

@media screen and (max-width: 400px) {
  .porfolio__tabs {
    column-gap: 10px;
  }
}

.food-example {
  padding: 46px 12px 57px 12px;
}

.food-example__title {
  display: flex;
  justify-content: center;
  padding: 0 10px;
}

.food-example-tabs {
  display: flex;
  justify-content: center;
  gap: 53px;
  padding: 25px 0 30px 0;
  flex-wrap: wrap;
}

.food-example__tab {
  cursor: pointer;
  padding-bottom: 9px;
  border-bottom: 1px solid transparent;
  background-color: transparent;
}

.food-example__tab_active {
  border-bottom: 1px solid #698155;
}

.food-example__slider {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-example-slider__popup-block-content {
  overflow-x: hidden;
}

.food-example-slider__popup-content-inner {
  overflow-x: hidden;
  margin: 0 auto;
}

.food-example-goods {
  display: flex;
  gap: 45px;
  transform: translateX(0);
}

.food-example-slider__popup-content {
  display: flex;
  gap: 0px;
  align-items: center;
  transform: translateX(0);
}

.food-example-goods__slider {
  transition: transform 0.4s ease;
}

.food-example-goods__item_pointer {
  cursor: pointer;
}

.food-example-goods__item_popup {
  flex-shrink: 0;
  width: 100%;
}

.food-example-goods__item-img {
  border-radius: 18px;
}

.food-example__button {
  display: flex;
  justify-content: center;
  padding: 18px 0 0 0;
}

.food-example__item-title {
  padding: 22px 0 8px 0;
}

.food-example__item-price {
  padding: 10px 0 8px 0;
}

.food-example__slider-conrols {
  margin: 30px 0 18px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px 13px;
}

.food-example__slider-arrow-inner {
  cursor: pointer;
}

.food-example__slider-arrow-inner_inactive {
  opacity: 0.5;
}

.food-example-slider__popup {
  position: fixed;
  display: none;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: auto;
  top: 0;
  left: 0;
  background-color: #fff;
  padding: 35px 10px;
  z-index: 15;
}

.food-example-slider__popup_opened {
  display: block;
}

.food-example-popup__close-inner {
  display: flex;
  justify-content: end;
}

.food-example-popup__close-img {
  cursor: pointer;
}

.food-example__popup-slider {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 15px 10px;
}

.food-example__popup-slider-arrow-right,
.food-example__popup-slider-arrow-left {
  cursor: pointer;
}

.food-example-goods__item-img_popup {
  width: 26.5%;
  margin: 0 auto;
}

.food-example__popup-slider-item-title {
  text-align: center;
  font-size: 3.3rem;
  font-weight: 700;
  padding: 13px 0;
  font-family: "Raleway", sans-serif;
  color: #000;
}

.food-example__popup-slider-item-count {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: "Raleway", sans-serif;
}

.food-example__popup-slider-item-price {
  text-align: center;
  font-size: 2.7rem;
  line-height: 3rem;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  padding: 12px 0;
}

@media screen and (max-width: 1660px) {
  .food-example {
    padding: 46px 3% 106px 3%;
  }
}

@media screen and (max-width: 1400px) {
  .food-example {
    padding: 46px 1% 60px 1%;
  }

  .food-example-goods {
    gap: 36px 15px;
  }
}

@media screen and (max-width: 1220px) {
  .food-example-tabs {
    gap: 15px;
  }

  .food-example__tab {
    padding: 7px 10px 9px 10px;
    border-radius: 5px;
  }

  .food-example__tab_active {
    background-color: #dfdfdf;
    border-bottom: 1px solid transparent;
  }

  .food-example {
    padding: 20px 12px 46px 12px;
  }
}

@media screen and (max-width: 860px) {
  .food-example-tabs {
    display: grid;
    grid-template:
      "a b b "
      "c d e ";
    gap: 15px 46px;
    padding: 15px 0 21px 0;
  }

  .food-example__tab1 {
    grid-area: a;
  }

  .food-example__tab2 {
    grid-area: b;
  }

  .food-example__tab3 {
    grid-area: c;
  }

  .food-example__tab4 {
    grid-area: d;
  }

  .food-example__tab5 {
    grid-area: e;
  }
  .food-example__popup-slider-item-title {
    font-size: 2.5rem;
  }
  .food-example-goods__item-img_popup {
    width: auto;
  }
}

@media screen and (max-width: 443px) {
  .food-example-tabs {
    gap: 15px 36px;
  }

  .food-example__tab {
    padding: 7px 5px 9px 5px;
  }
}

@media screen and (max-width: 400px) {
  .food-example-tabs {
    gap: 15px;
  }
}

.about-company{
  padding: 49px 10px 65px 10px;
  background-color: #FBFBF9;
}

.about-company__title {
  display: flex;
  justify-content: center;
}

.about-company__text-block{
  display: flex;
  flex-direction: column;
  gap: 12px 0;
  padding: 63px 0 45px 0;
}

.about-company__text {
  display: flex;
  justify-content: center;
}

.about-company__button {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1220px) {
.about-company{
  padding: 30px 10px 39px 10px;
}

.about-company__text-block{
  padding: 20px 25px 45px 25px;
  line-height: 2.6rem;
  text-align: center;
}

}

@media screen and (max-width: 780px) {
  .about-company__text-block{
   text-align: center;
}
}

.order-block {
  padding: 59px 10px 70px 10px;
}

.order-block_2 {
  padding: 10px 10px 0 10px;
}

.order-block_padding {
  padding: 59px 10px 10px 10px;
}

.order-block__title {
  display: flex;
  justify-content: center;
}

.order-block__form{
  padding: 54px 0 0 0;
}

.form__fields {
  display: flex;
  justify-content: center;
  gap: 15px 34px;
  flex-wrap: wrap;
}

.form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.form__input:-ms-input-placeholder{
  color: #000;
}

.form__input::placeholder{
  color: #000;
}

.form__textarea{
  display: inline-block;
  min-width: 400px;
  resize: none;
  max-height: 40px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.form__textarea:-ms-input-placeholder{
  color: #000;
}

.form__textarea::placeholder{
  color: #000;
}

.form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.form__disclaimer {
  max-width: 472px;
  text-align: center;
  margin: 0 auto;
  padding: 42px 0 52px 0;
}

.order__subtext {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px 10px 0;
}

@media screen and (max-width: 1400px) {
  .order-block {
  padding: 60px 10px 30px 10px;
}
}

@media screen and (max-width: 1200px) {
  .order-block {
  padding: 40px 10px 45px 10px;
}

.order-block__form{
  padding: 32px 0 0 0;
}
}

@media screen and (max-width: 920px) {
  .form__fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px 34px;
}

.form__textarea{
  min-width: 400px;
  resize: none;
  min-height: 114px;
}

.form__input {
  width: 390px;
}

.order__subtext {
  display: block;
  padding: 20px 10px 10px 10px;
  text-align: right;
}

.order__subtext-title{
  display: block;
  text-align: center;
  font-size: 5rem;
}

.order__subtext-title2{
  display: block;
}

.form__disclaimer {
  padding: 29px 0 25px 0;
  max-width: 389px;
}

}

@media screen and (max-width: 780px) {
  .order-block_padding {
  padding: 59px 10px 66px 10px;
}
}

@media screen and (max-width: 420px) {
  .form__input {
  width: 220px;
}

.form__textarea{
  min-width: 300px;
}

}

@media screen and (max-width: 320px) {
  .form__input {
  width: 100%;
}

.form__textarea{
  min-width: 100%;
}
}

.up-button {
  position: fixed;
  z-index: 2;
  right: 3%;
  bottom: 5%;
  width: 68px;
  height: 68px;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 50%;
  background-color: #eddbae;
  cursor: pointer;
}

.up-button_show {
  display: flex;
}

@media screen and (max-width: 780px) {
  .up-button {
    width: 70px;
    height: 70px;
  }
}

.order-call-form-block{
    position: fixed;
    left: -300%;
    top: 0;
    z-index: 100;
    width: 100.5vw;
    height: 100.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.8s ease-in-out;
    background-color: #696C7A;
}

.order-call-form-block_show{
     left: 0;
}

.order-call__form-inner{
    max-width: 515px;
    padding: 19px 10px 53px 10px;
}

.order-call__form-inner h2{
    text-align: center;
    margin: 8px 0 29px 0;
}

.order-call__form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.order-call-form__input-inner{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.order-call-form__input {
  display:  inline-block;
  min-width: 200px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
}

.order-call-form__input:-ms-input-placeholder{
  color: #000;
}

.order-call-form__input::placeholder{
  color: #000;
}

.order-call-form__textarea{
  display: block;
  min-width: 414px;
  resize: none;
  min-height: 138px;
  border: 1px solid #eddbae;
  border-radius: 30px;
  padding: 10px 20px;
  margin: 0 auto 29px auto;
}

.order-call-form__textarea:focus{
   outline: none;
   border: 1px solid #eddbae;
}

.order-call-form__textarea:-ms-input-placeholder{
  color: #000;
}

.order-call-form__textarea::placeholder{
  color: #000;
}

.order-call-form__text{
    max-width: 415px;
    text-align: center;
    margin: 29px auto 21px auto;
}

.order-call-form__button-inner{
    display: flex;
    justify-content: center;
}

.order-call__form-cross-inner{
   display: flex;
   justify-content: right;
   margin: 0 10px 0 0;
}

.order-call__form-cross{
    cursor: pointer;
}

@media screen and (max-width: 500px) {
    .order-call-form__input-inner{
        flex-direction: column;
        align-items: center;
    }

    .order-call-form__textarea{
        min-width: auto;
        max-width: 90%;
        width: 100%;
}
}

.header-block {
  position: relative;
  padding: 33px 0 19px 0;
  background-image: url("../../assets/img/header/header-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  margin: 0 13.5% 0 13.5%;
}

.header__line {
  width: 100%;
  height: 2px;
}

.header {
  display: flex;
  column-gap: 10px;
}

.header__block {
  padding: 21px 0 0 0;
}

.header__block-nav {
  display: flex;
  column-gap: 50px;
  padding: 54.8px 10px 0 2.3%;
}

.header__text-info {
  padding: 21px 3.32% 0 4.2%;
}

.header__social-links {
  padding: 21px 25px 0 31px;
}

.header__contacts {
  position: relative;
  top: -5px;
  padding: 21px 0 0 20px;
}

.header-spacing {
  letter-spacing: 1.4px;
}

.header-spacing2 {
  letter-spacing: -0.1px;
}

.header__block_mobile{
  display: none;
}

.header__contacts-text{
  text-align: right;
}

@media screen and (max-width: 1660px) {
.header-block {
  margin: 0 3.5% 0 3.5%;
}

.header__block-nav {
  padding: 54.8px 10px 0 4%;
}

}

@media screen and (max-width: 1500px) {
.header__block-nav {
  padding: 40px 10px 0 18px;
}

.header__text-info {
  padding: 21px 1% 0 1.6%;
  flex-shrink: 3;
}
.header__social-links {
  padding: 21px 8px 0 10px;
}
}

@media screen and (max-width: 1400px) {
.header-block {
  margin: 0 12px 0 12px;
}
}

@media screen and (max-width: 1180px) {
  .header__text-block{
   display: none;
}
}

@media screen and (max-width: 1000px) {
   .header__botton-block{
     display: none;
}
}

@media screen and (max-width: 780px) {
  .header-block {
    position: relative;
    background-image: none;
    padding: 19px 12px 10px 12px;
    margin: 0;
  }

  .header__contacts-text{
  text-align: center;
  }

  .header {
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

  .header__social-links {
  display: none;
}

.header__text-info {
  display: none;
}

.header__block-nav {
  position: absolute;
  left: -200%;
  z-index: 10;
  top: 0;
  display: block;
  margin: 0 auto;
  max-width: 102vh;
  width: 100%;
  background-color: #B09F74;
  padding: 19px 10px 70px 10px;
  transition: all 0.4s ease-in-out;
}

.header__navigation{
  text-align: center;
}

.header__block-nav_open{
  left: 0;
}

.header__contacts {
  top: 0;
  padding: 21px 0 0 0;
}



}

.navigation {
  display: flex;
  column-gap: 49px;
}

.navigation__list {
  cursor: pointer;
}

.navigation__arrow {
  margin-left: 6px;
  display: inline-block;
  width: 7px;
  height: 3px;
  background-image: url("../../assets/img/icons/arrows/nav-arrow.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.navigation__submenu {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;
  transform: translateX(-13%) translateY(100%);
  background-color: #fff;
  padding: 3px 26px;
  z-index: 15;
}

.navigation__submenu-link {
  text-wrap: nowrap;
  display: block;
  margin: 8px 0;
}

.navigation-show__submenu {
  position: relative;
}

.navigation__submenu_show {
  display: block;
}

.navigation-text {
  font-family: "Raleway", sans-serif;
  font-size: 1.5rem;
  line-height: 2.2rem;
  font-weight: 400;
  color: #000;
}

.navigation_mobile {
  display: none;
}

.navigation__mobile-social-links {
  display: none;
  column-gap: 14px;
}

.navigation-burger {
  display: none;
}

.navigation__cross {
  display: none;
}

.navigation__logo {
  display: none;
}

.navigation__search {
  margin: auto 0;
}

@media screen and (max-width: 780px) {
  .navigation_mobile {
    display: block;
  }
  .navigation {
    display: block;
  }
  .navigation li {
    margin-bottom: 25px;
  }

  .navigation-text {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
  }

  .navigation__mobile-social-links {
    display: flex;
    justify-content: center;
    padding: 30px 0;
  }

  .navigation__submenu {
    position: relative;
    transform: translateX(0) translateY(0);
    background-color: #b09f74;
    padding: 0;
  }

  .navigation-mobile__text-block {
    padding: 30px 0 80px 0;
  }

  .navigation__mobile-button {
    display: flex;
    justify-content: center;
    margin-top: 55px;
  }
  .navigation__search {
    display: flex;
    justify-content: center;
  }

  .navigation__arrow {
    position: relative;
    top: -2px;
    background-image: url("../../assets/img/mobile/navigation/arrow.svg");
  }

  .navigation__cross-line {
    width: 22px;
    height: 2px;
    background-color: #fff;
    border-radius: 3px;
  }

  .navigation__cross-line_left {
    top: 2px;
    position: relative;
    transform: rotateZ(45deg);
  }

  .navigation__cross-line_right {
    position: relative;
    transform: rotateZ(-45deg);
  }

  .navigation__cross {
    position: relative;
    display: inline-block;
    top: 25px;
    margin-left: 23px;
  }

  .navigation-cross__click {
    position: absolute;
    left: 0;
    top: -5px;
    width: 100%;
    height: 18px;
    cursor: pointer;
  }

  .navigation__logo {
    display: flex;
    justify-content: center;
    padding: 0 40px;
  }

  .navigation-burger {
    display: block;
    cursor: pointer;
    position: absolute;
    top: 19px;
    left: 18px;
  }

  .navigation-burger__line {
    width: 22px;
    height: 2px;
    border-radius: 3px;
    background-color: #b09f74;
  }

  .navigation-burger__line_padding {
    margin: 9px 0;
  }
}

.footer {
  display: flex;
  column-gap: 5px;
  justify-content: space-between;
  padding: 52px 13.54%;
  min-height: 197px;
  background-color: #000;
}

.footer__social {
  display: flex;
  column-gap: 5px;
}

.footer__social-block {
  padding: 10px 0 0 0;
  margin: 0 20px 0 139px;
}

@media screen and (max-width: 1560px) {
  .footer {
  padding: 52px 6.54%;
}
}

@media screen and (max-width: 1280px) {
  .footer {
   padding: 52px 1.54%;
}
  .footer__social-block {
   margin: 0 15px 0 30px;
}
}

@media screen and (max-width: 980px) {
 .footer{
   flex-direction: column;
   align-items: center;
   gap: 42px;
 }

 .footer__social {
  flex-direction: column;
  align-items: center;
}

.footer p {
  text-align: center;
}

.footer__social-block {
   margin: 0;
   padding: 42px 0 23px 0;
}

}
