* {
  box-sizing: border-box;
}

:root {
  font-size: 10px;
}

body {
  background-color: #fff;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

ul {
  list-style: none;
}

li {
  text-decoration: none;
}

input {
  border: none;
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: 1420px;
  padding: 0 10px;
  margin: 0 auto;
}

.uppercase {
  text-transform: uppercase;
}

.text-align-right {
  text-align: right;
}

.text-base {
  font-family: "Railway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #000000;
}

.text-info {
  font-family: "Railway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
  color: var(--text-color-primary);
}

.text-heading {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #000000;
}

.text-contact {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: #000000;
}
