.uppercase {
  text-transform: uppercase;
}

.font_medium {
  font-weight: 500;
}

.text-align_right {
  text-align: right;
}

.text-align_center {
  text-align: center;
}

.text-base {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 0;
  color: #000000;
}

.text-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.5rem;
  color: #000000;
}

.text-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  color: #fff;
}

.text-main-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 10.6rem;
  color: #000000;
}

.text-extra-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 12.9rem;
  color: #000000;
}

.text-block-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 5rem;
  color: #000000;
}

.text-main-text {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 3.2rem;
  color: #000000;
}

.text-item-subtitle {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: #000;
}

.text-info {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: #000;
}

.text-location {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0;
  color: #000;
}

.text-heading {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 1.2rem;
  color: #000000;
}

.text-section-big-title {
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 7.9rem;
  color: #000000;
}

.text-contact {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-item-writing {
  font-family: "PFDinTextCompPro", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0;
  color: #000000;
}

.text-info-block-title{
  font-family: "Ebbe", sans-serif;
  font-weight: 100;
  font-size: 8rem;
  color: #000000;
}

.text-item-writing_size{
   font-size: 1.8rem;
}

.font_semi-bold {
  font-weight: 600;
}

.font_bold {
  font-weight: 700;
}

.font_light{
  font-weight: 300;
}

.text_colored {
  color: #fff;
}

.text_colored2 {
  color: #eddbae;
}

.text_colored3 {
  color: #939393;
}

.text_colored4 {
  color: #b09f74;
}

.text_spacing{
  letter-spacing: 2.4px;
}

.text_spacing2{
  letter-spacing: 6px;
}

.text_spacing3{
  letter-spacing: 1.3px;
}

.text_spacing4{
  letter-spacing: 1.6px;
}

.text_line-height{
  line-height: 2.5rem;
}

@media screen and (max-width: 1400px) {
  .text-main-title {
   font-size: 8rem;
}
  .text-main-text{
   font-size: 2.5rem;
}

.text-extra-title {
  font-size: 9rem;
}

.text-info-block-title{
  font-size: 7rem;
}

}

@media screen and (max-width: 1200px) {
  .text-info-block-title{
  font-size: 5rem;
}
}

@media screen and (max-width: 780px) {
    .text-main-title {
     font-size: 5rem;
}

    .text-section-big-title {
     font-size: 3.5rem;
}

    .text-block-title {
     font-size: 3.5rem;
}

    .text-extra-title {
     font-size: 3.5rem;
}
}